body {
	background: url("../back.png") repeat scroll 0% 0% transparent;
}

#header-fixe {
	position: fixed;
	top: 0;
	background-color: #000000;
	border: 1px solid #BBBBBB;
	color: #FFFFFF;
	z-index: 99;
	font-size: 22px;
	line-height: 35px;
	width: 100%;
}
#header-fixe ul {
	padding-right: 10px;
}

#header-fixe li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

a:hover {
	text-decoration: none;
}

/*body {
	background: #FFFFFF url('../img/bg.jpg') no-repeat bottom;
}*/

section {
	margin-bottom: 4px;
}

#main {
	margin-top: 41px;
	/*background: #FFFFFF;*/
}

.responsive-utilities-test {
    list-style: none outside none;
    margin-left: 0;
    margin-top: 5px;
    overflow: hidden;
}
.responsive-utilities-test li {
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    color: #999999;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 43px;
    line-height: 43px;
    position: relative;
    text-align: center;
    width: 25%;
}
.responsive-utilities-test li + li {
    margin-left: 10px;
}
.responsive-utilities-test span {
    border-radius: 4px 4px 4px 4px;
    bottom: -1px;
    left: -1px;
    position: absolute;
    right: -1px;
    top: -1px;
}
.responsive-utilities-test span {
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
    color: #468847;
}

.bg-btn {
	vertical-align: middle;
	cursor: pointer;
}
.bg-btn:hover {
	opacity: 0.1;
}
.bg {
	background-color: #555555;
}

#carousel div {
	display: inline-block;
	width: 100px;
	height: 160px;
	background: #4cb6c9;
	background: -moz-linear-gradient(left, #4cb6c9 0%, #67d8e5 50%, #4cb6c9 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#4cb6c9), color-stop(50%,#67d8e5), color-stop(100%,#4cb6c9));
	background: -webkit-linear-gradient(left, #4cb6c9 0%,#67d8e5 50%,#4cb6c9 100%);
	background: -o-linear-gradient(left, #4cb6c9 0%,#67d8e5 50%,#4cb6c9 100%);
	background: -ms-linear-gradient(left, #4cb6c9 0%,#67d8e5 50%,#4cb6c9 100%);
	background: linear-gradient(to right, #4cb6c9 0%,#67d8e5 50%,#4cb6c9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cb6c9', endColorstr='#4cb6c9',GradientType=1 );
}
#carousel-2 div {
	display: block;
	width: 300px;
	height: 88px;
	line-height: 88px;
	font-size: 36px;
	text-align: center;
	background: #d60000;
	background: -moz-linear-gradient(top, #d60000 0%, #ef6969 50%, #d60000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d60000), color-stop(50%,#ef6969), color-stop(100%,#d60000));
	background: -webkit-linear-gradient(top, #d60000 0%,#ef6969 50%,#d60000 100%);
	background: -o-linear-gradient(top, #d60000 0%,#ef6969 50%,#d60000 100%);
	background: -ms-linear-gradient(top, #d60000 0%,#ef6969 50%,#d60000 100%);
	background: linear-gradient(to bottom, #d60000 0%,#ef6969 50%,#d60000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d60000', endColorstr='#d60000',GradientType=0 );
}
#carousel-3 div {
	display: inline-block;
	width: 100px;
	height: 300px;
	line-height: 300px;
	font-size: 36px;
	text-align: center;
	background: #0e7f00;
	background: -moz-linear-gradient(left, #0e7f00 0%, #60db83 50%, #0e7f00 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0e7f00), color-stop(50%,#60db83), color-stop(100%,#0e7f00));
	background: -webkit-linear-gradient(left, #0e7f00 0%,#60db83 50%,#0e7f00 100%);
	background: -o-linear-gradient(left, #0e7f00 0%,#60db83 50%,#0e7f00 100%);
	background: -ms-linear-gradient(left, #0e7f00 0%,#60db83 50%,#0e7f00 100%);
	background: linear-gradient(to right, #0e7f00 0%,#60db83 50%,#0e7f00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e7f00', endColorstr='#0e7f00',GradientType=1 );
}
#carousel-4 div {
	display: inline-block;
	width: 100px;
	height: 180px;
	line-height: 180px;
	font-size: 36px;
	text-align: center;
	background: #e8b500;
	background: -moz-linear-gradient(left, #e8b500 0%, #f2e46a 50%, #e8b500 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e8b500), color-stop(50%,#f2e46a), color-stop(100%,#e8b500));
	background: -webkit-linear-gradient(left, #e8b500 0%,#f2e46a 50%,#e8b500 100%);
	background: -o-linear-gradient(left, #e8b500 0%,#f2e46a 50%,#e8b500 100%);
	background: -ms-linear-gradient(left, #e8b500 0%,#f2e46a 50%,#e8b500 100%);
	background: linear-gradient(to right, #e8b500 0%,#f2e46a 50%,#e8b500 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8b500', endColorstr='#e8b500',GradientType=1 );
}

#carousel-4-pages div {
	width: 16px;
	height: 16px;
	text-align: center;
	margin-top: 4px;
}

#carousel-5 div {
	display: inline-block;
	width: 100px;
	height: 180px;
	line-height: 180px;
	font-size: 36px;
	text-align: center;
	background: #7400b2;
	background: -moz-linear-gradient(left, #7400b2 0%, #c964e5 50%, #7400b2 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#7400b2), color-stop(50%,#c964e5), color-stop(100%,#7400b2));
	background: -webkit-linear-gradient(left, #7400b2 0%,#c964e5 50%,#7400b2 100%);
	background: -o-linear-gradient(left, #7400b2 0%,#c964e5 50%,#7400b2 100%);
	background: -ms-linear-gradient(left, #7400b2 0%,#c964e5 50%,#7400b2 100%);
	background: linear-gradient(to right, #7400b2 0%,#c964e5 50%,#7400b2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7400b2', endColorstr='#7400b2',GradientType=1 );
}

.my-pagination-custom {
	width: 22px;
	height: 30px;
	border: 2px solid white;
	font-size: 10px;
	font-family: "Comic Sans MS", "Trebuchet MS", serif, sans-serif;
	
	background: #ebe9f9;
	background: -moz-linear-gradient(left, #ebe9f9 0%, #d8d0ef 50%, #cec7ec 51%, #c1bfea 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ebe9f9), color-stop(50%,#d8d0ef), color-stop(51%,#cec7ec), color-stop(100%,#c1bfea));
	background: -webkit-linear-gradient(left, #ebe9f9 0%,#d8d0ef 50%,#cec7ec 51%,#c1bfea 100%);
	background: -o-linear-gradient(left, #ebe9f9 0%,#d8d0ef 50%,#cec7ec 51%,#c1bfea 100%);
	background: -ms-linear-gradient(left, #ebe9f9 0%,#d8d0ef 50%,#cec7ec 51%,#c1bfea 100%);
	background: linear-gradient(to right, #ebe9f9 0%,#d8d0ef 50%,#cec7ec 51%,#c1bfea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea',GradientType=1 );
}
.my-pagination-custom.active {
	color: red;
	border: 2px solid transparent !important;
	background-clip: content-box;
}


#infinite-scroll {
	max-height: 100px;
	overflow: auto;
}

/* Override Jquery UI */

.ui-tabs pre {
	margin: 0;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor: default;
}