/**
 *	core.css
 *	V0.1.2
 *  - ajout rotate-[r/l]-90
**/
/* -- Variables -- */
$color-normal: #333333;
$color-grey: #8D8D8D;
$color-black: #000000;
$color-white: #FFFFFF;
$color-red: #D13434;
$color-orange: #FF8C00;
$color-yellow: #EDC309;
$color-green: #4B994A;
$color-blue: #3D62D3;
$color-violet: #9B3BCC;
$color-pink: #EF2B8A;

$lighten: 40%;
$darken: 20%;

$color-grey-lighten: lighten($color-grey, $lighten);
$color-black-lighten: lighten($color-black, $lighten);
$color-white-lighten: lighten($color-white, $lighten);
$color-red-lighten: lighten($color-red, $lighten);
$color-orange-lighten: lighten($color-orange, $lighten);
$color-yellow-lighten: lighten($color-yellow, $lighten);
$color-green-lighten: lighten($color-green, $lighten);
$color-blue-lighten: lighten($color-blue, $lighten);
$color-violet-lighten: lighten($color-violet, $lighten);
$color-pink-lighten: lighten($color-pink, $lighten);

$color-grey-darken: darken($color-grey, $darken);
$color-black-darken: darken($color-black, $darken);
$color-white-darken: darken($color-white, $darken);
$color-red-darken: darken($color-red, $darken);
$color-orange-darken: darken($color-orange, $darken);
$color-yellow-darken: darken($color-yellow, $darken);
$color-green-darken: darken($color-green, $darken);
$color-blue-darken: darken($color-blue, $darken);
$color-violet-darken: darken($color-violet, $darken);
$color-pink-darken: darken($color-pink, $darken);

$color-success: #4B994A;
$color-error: #D13434;
$color-highlight: #3D62D3;

$color-success-lighten: lighten($color-success, $lighten);
$color-error-lighten: lighten($color-error, $lighten);
$color-highlight-lighten: lighten($color-highlight, $lighten);

$color-success-darken: darken($color-success, $darken);
$color-error-darken: darken($color-error, $darken);
$color-highlight-darken: darken($color-highlight, $darken);

$well-border-radius: 5px;

$small-size: 0.8em;
$big-size: 1.2em;

$table-strip-color: #EEEEEE;
$table-border-color: #C0C0C0;

$shadow-outset-size: 0px 0px 10px -1px;
$shadow-inset-size: 0px 0px 5px 0px;
$shadow-transition-speed: 0.3s;
$shadow-transition-type: ease-in-out;

$fade-opacity: 0.4;
$fade-transition-speed: 0.2s;
$fade-transition-type: ease-in-out;

$label-radius: 3px;
$label-padding: 1px 4px 2px;
$label-color: #FFFFFF;

$badge-padding: 1px 9px 2px;
$badge-radius: 9px;
$badge-color: #FFFFFF;

$label-badge-shadow-size: 0px 0px 4px 0px;
$label-badge-shadow-speed: 0.2s;

$input-text-border-radius: 3px;

$input-text-shadow-outset-size: 0 0 5px 4px;
$input-text-shadow-inset-size: 0 0 8px 1px;

$input-text-shadow-outset-transparentize: 0.8;
$input-text-shadow-inset-transparentize: 0.4;

$input-text-shadow-success-color: 34, 139, 34, 0.15;
$input-text-shadow-error-color: 34, 139, 34, 0.15;
$input-text-shadow-highlight-color: 34, 139, 34, 0.15;

@mixin user-select-none {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Bootstrap v2.0.4 modified Copyright 2012 Twitter, Inc */
p {
	margin: 0 0 9px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: bold;
	text-rendering: optimizelegibility;
}

h1 {
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 4px;
}
h2 {
	font-size: 24px;
	line-height: 36px;
}
h3 {
	font-size: 18px;
	line-height: 27px;
}
h4,
h5,
h6 {
	line-height: 18px;
}
h4 {
	font-size: 14px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 11px;
	color: #999999;
	text-transform: uppercase;
}
dl {
	margin-bottom: 18px;
}
dt,
dd {
	line-height: 18px;
}
dt {
	font-weight: bold;
	line-height: 17px;
}
dd {
	margin-left: 9px;
}
.dl-horizontal dt {
	float: left;
	width: 120px;
	clear: left;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dl-horizontal dd {
	margin-left: 130px;
}
hr {
	margin: 18px 0;
	border: 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
abbr[title] {
	cursor: help;
	border-bottom: 1px dotted #999999;
}
abbr.initialism {
	font-size: 90%;
	text-transform: uppercase;
}
code,
pre {
	padding: 0 3px 2px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 12px;
	color: #333333;
	border-radius: 3px;
}
code {
	padding: 2px 4px;
	color: #D14D14;
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
	vertical-align: middle;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
pre {
	display: block;
	padding: 8.5px;
	margin: 0 0 9px;
	font-size: 12px;
	line-height: 18px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap !important;
	background-color: #f5f5f5;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}
pre code {
	padding: 0;
	color: inherit;
	background-color: transparent;
	border: 0;
}

table {
	border-collapse: collapse;
	border: 1px solid $table-border-color;
	border-bottom: none;
}

thead, tfoot {
	background-color: #DEDEDE;
}

tr {
	border: 1px solid $table-border-color;
}

td, th {
	padding: 2px 3px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 4px;
	/*margin-bottom: 9px;*/
	/*font-size: 13px;*/
	/*line-height: 18px;*/
	color: #555555;
	vertical-align: middle;
}

.form-vertical select,
.form-vertical textarea,
.form-vertical input[type="text"],
.form-vertical input[type="password"],
.form-vertical input[type="datetime"],
.form-vertical input[type="datetime-local"],
.form-vertical input[type="date"],
.form-vertical input[type="month"],
.form-vertical input[type="time"],
.form-vertical input[type="week"],
.form-vertical input[type="number"],
.form-vertical input[type="email"],
.form-vertical input[type="url"],
.form-vertical input[type="search"],
.form-vertical input[type="tel"],
.form-vertical input[type="color"] {
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-horizontal select,
.form-horizontal textarea,
.form-horizontal input[type="text"],
.form-horizontal input[type="password"],
.form-horizontal input[type="datetime"],
.form-horizontal input[type="datetime-local"],
.form-horizontal input[type="date"],
.form-horizontal input[type="month"],
.form-horizontal input[type="time"],
.form-horizontal input[type="week"],
.form-horizontal input[type="number"],
.form-horizontal input[type="email"],
.form-horizontal input[type="url"],
.form-horizontal input[type="search"],
.form-horizontal input[type="tel"],
.form-horizontal input[type="color"] {
	width: 30%;
}

.form-inline select,
.form-inline textarea,
.form-inline input[type="text"],
.form-inline input[type="password"],
.form-inline input[type="datetime"],
.form-inline input[type="datetime-local"],
.form-inline input[type="date"],
.form-inline input[type="month"],
.form-inline input[type="time"],
.form-inline input[type="week"],
.form-inline input[type="number"],
.form-inline input[type="email"],
.form-inline input[type="url"],
.form-inline input[type="search"],
.form-inline input[type="tel"],
.form-inline input[type="color"] {
	width: auto;
}

textarea {
	height: auto;
	max-width: 98%;
}

.textarea-countdown-text {
	color: #777777;
	*color: #BBBBBB;
	opacity: 0.8;
	font-size: 85%;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: $input-text-border-radius;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;

	&:focus {
		border-color: rgba(240, 160, 0, 0.8);
		outline: 0;
		box-shadow: 0 0 5px 4px rgba(225, 118, 0, 0.2), inset 0 0 8px 1px rgba(255, 118, 0, 0.6);
	}
}


input[type="radio"],
input[type="checkbox"] {
	margin: 3px 0;
	*margin-top: 0;
	line-height: normal;
	vertical-align: middle;
}

.input-prepend,
.input-append {
	margin-bottom: 5px;
	/*display: inline-block;*/

	input, select {
		position: relative;
		vertical-align: top;
		margin-bottom: 0;
		*margin-left: 0;
		border-radius: 0 3px 3px 0;
	}
	.add-on {
		display: inline-block;
		width: auto;
		min-width: 16px;
		/*line-height: 16px;*/
		/*padding: 4px 5px 4px;*/
		/*padding-top: 4px;*/
		padding-bottom: 4px;
		text-align: center;
		background-color: #eeeeee;
		border: 1px solid #ccc;
		margin-left: -1px;
		border-radius: 0;
		vertical-align: middle;
		line-height: 22px;
		
		.ui-icon {vertical-align: middle;}
		&.clickable:active {
			padding-left: 6px;
			padding-right: 4px;
		}
	}
	span.add-on{
		height: 22px;
		/*line-height: 19px;*/
		padding: 1px 5px;
		vertical-align: top;
		select, input {
			padding: 0;
		}
	}
	.active {
		background-color: #a9dba9;
		border-color: #46a546;
	}
}
.add-on.ui-button {
	height: 26px;
}

a.add-on.btn {
	height: 24px;
	padding-bottom: 0;
}

.input-prepend {
	.add-on {
		margin-right: -1px;
	}
	.add-on:first-child {
		border-radius: 3px 0 0 3px;
	}
}
.input-append {
	input, select {
		border-radius: 3px 0 0 3px;
	}
	.add-on:last-child {
		border-radius: 0 3px 3px 0;
	}
}

.input-prepend.input-append {
	input,select {
		border-radius: 0;
	}
	.add-on:first-child {
		margin-right: -1px;
		border-radius: 3px 0 0 3px;
	}
	.add-on:last-child {
		margin-left: -1px;
		border-radius: 0 3px 3px 0;
	}
}

.pre-scrollable {
	max-height: 340px;
	overflow-y: scroll;
}

.clearfix {
	*zoom: 1;
}
.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}
.clearfix:after {
	clear: both;
}

.row {
	margin-left: -20px;
	*zoom: 1;
}
.row:before,
.row:after {
	display: table;
	content: "";
}
.row:after {
	clear: both;
}
[class*="span"] {
	float: left;
	margin-left: 20px;
}
.container {
	width: 940px;
	margin: auto;
}
.span12 {
	width: 940px;
}
.span11 {
	width: 860px;
}
.span10 {
	width: 780px;
}
.span9 {
	width: 700px;
}
.span8 {
	width: 620px;
}
.span7 {
	width: 540px;
}
.span6 {
	width: 460px;
}
.span5 {
	width: 380px;
}
.span4 {
	width: 300px;
}
.span3 {
	width: 220px;
}
.span2 {
	width: 140px;
}
.span1 {
	width: 60px;
}
.offset12 {
	margin-left: 980px;
}
.offset11 {
	margin-left: 900px;
}
.offset10 {
	margin-left: 820px;
}
.offset9 {
	margin-left: 740px;
}
.offset8 {
	margin-left: 660px;
}
.offset7 {
	margin-left: 580px;
}
.offset6 {
	margin-left: 500px;
}
.offset5 {
	margin-left: 420px;
}
.offset4 {
	margin-left: 340px;
}
.offset3 {
	margin-left: 260px;
}
.offset2 {
	margin-left: 180px;
}
.offset1 {
	margin-left: 100px;
}
.row-fluid {
	width: 100%;
	*zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
	display: table;
	content: "";
}
.row-fluid:after {
	clear: both;
}
.row-fluid [class*="span"] {
	display: block;
	width: 100%;
	min-height: 28px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-left: 2.127659574%;
	*margin-left: 2.0744680846382977%;
}
.row-fluid [class*="span"]:first-child {
	margin-left: 0;
}
.row-fluid table[class*="span"] {
	display: table;
}
.row-fluid .span12 {
	width: 100%;
	*width: 99.94680851063829%;
}
.row-fluid .span11 {
	width: 91.45299145299145%;
	*width: 91.39979996362975%;
}
.row-fluid .span10 {
	width: 82.90598290598291%;
	*width: 82.8527914166212%;
}
.row-fluid .span9 {
	width: 74.35897435897436%;
	*width: 74.30578286961266%;
}
.row-fluid .span8 {
	width: 65.81196581196582%;
	*width: 65.75877432260411%;
}
.row-fluid .span7 {
	width: 57.26495726495726%;
	*width: 57.21176577559556%;
}
.row-fluid .span6 {
	width: 48.717948717948715%;
	*width: 48.664757228587014%;
}
.row-fluid .span5 {
	width: 40.17094017094017%;
	*width: 40.11774868157847%;
}
.row-fluid .span4 {
	width: 31.623931623931625%;
	*width: 31.570740134569924%;
}
.row-fluid .span3 {
	width: 23.076923076923077%;
	*width: 23.023731587561375%;
}
.row-fluid .span2 {
	width: 14.52991452991453%;
	*width: 14.476723040552828%;
}
.row-fluid .span1 {
	width: 5.982905982905983%;
	*width: 5.929714493544281%;
}
.row-fluid .offset12 {
	margin-left: 105.12820512820512%;
	*margin-left: 105.02182214948171%;
}
.row-fluid .offset12:first-child {
	margin-left: 102.56410256410257%;
	*margin-left: 102.45771958537915%;
}
.row-fluid .offset11 {
	margin-left: 96.58119658119658%;
	*margin-left: 96.47481360247316%;
}
.row-fluid .offset11:first-child {
	margin-left: 94.01709401709402%;
	*margin-left: 93.91071103837061%;
}
.row-fluid .offset10 {
	margin-left: 88.03418803418803%;
	*margin-left: 87.92780505546462%;
}
.row-fluid .offset10:first-child {
	margin-left: 85.47008547008548%;
	*margin-left: 85.36370249136206%;
}
.row-fluid .offset9 {
	margin-left: 79.48717948717949%;
	*margin-left: 79.38079650845607%;
}
.row-fluid .offset9:first-child {
	margin-left: 76.92307692307693%;
	*margin-left: 76.81669394435352%;
}
.row-fluid .offset8 {
	margin-left: 70.94017094017094%;
	*margin-left: 70.83378796144753%;
}
.row-fluid .offset8:first-child {
	margin-left: 68.37606837606839%;
	*margin-left: 68.26968539734497%;
}
.row-fluid .offset7 {
	margin-left: 62.393162393162385%;
	*margin-left: 62.28677941443899%;
}
.row-fluid .offset7:first-child {
	margin-left: 59.82905982905982%;
	*margin-left: 59.72267685033642%;
}
.row-fluid .offset6 {
	margin-left: 53.84615384615384%;
	*margin-left: 53.739770867430444%;
}
.row-fluid .offset6:first-child {
	margin-left: 51.28205128205128%;
	*margin-left: 51.175668303327875%;
}
.row-fluid .offset5 {
	margin-left: 45.299145299145295%;
	*margin-left: 45.1927623204219%;
}
.row-fluid .offset5:first-child {
	margin-left: 42.73504273504273%;
	*margin-left: 42.62865975631933%;
}
.row-fluid .offset4 {
	margin-left: 36.75213675213675%;
	*margin-left: 36.645753773413354%;
}
.row-fluid .offset4:first-child {
	margin-left: 34.18803418803419%;
	*margin-left: 34.081651209310785%;
}
.row-fluid .offset3 {
	margin-left: 28.205128205128204%;
	*margin-left: 28.0987452264048%;
}
.row-fluid .offset3:first-child {
	margin-left: 25.641025641025642%;
	*margin-left: 25.53464266230224%;
}
.row-fluid .offset2 {
	margin-left: 19.65811965811966%;
	*margin-left: 19.551736679396257%;
}
.row-fluid .offset2:first-child {
	margin-left: 17.094017094017094%;
	*margin-left: 16.98763411529369%;
}
.row-fluid .offset1 {
	margin-left: 11.11111111111111%;
	*margin-left: 11.004728132387708%;
}
.row-fluid .offset1:first-child {
	margin-left: 8.547008547008547%;
	*margin-left: 8.440625568285142%;
}

.hidden {
	display: none;
	visibility: hidden;
}
.visible-phone {
	display: none !important;
}
.visible-tablet {
	display: none !important;
}
.hidden-desktop {
	display: none !important;
}
@media (max-width: 767px) {
	.visible-phone {
		display: inherit !important;
	}
	.hidden-phone {
		display: none !important;
	}
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.visible-tablet {
		display: inherit !important;
	}
	.hidden-tablet {
		display: none !important;
	}
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important ;
	}
}
@media (max-width: 480px) {
	input[type="checkbox"],
	input[type="radio"] {
		border: 1px solid #ccc;
	}
}
@media (max-width: 767px) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
	.dl-horizontal dt {
		float: none;
		clear: none;
		width: auto;
		text-align: left;
	}
	.dl-horizontal dd {
		margin-left: 0;
	}
	.container-fluid {
		padding: 0;
	}
	.container {
		width: auto;
	}
	.row-fluid {
		width: 100%;
	}
	.row {
		margin-left: 0;
	}
	[class*="span"],
	.row-fluid [class*="span"] {
		float: none;
		display: block;
		width: auto;
		margin-left: 0 !important;
	}
	input[class*="span"],
	select[class*="span"],
	textarea[class*="span"] {
		display: block;
		width: 100%;
		min-height: 28px;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.row {
		margin-left: -20px;
		*zoom: 1;
	}
	.row:before,
	.row:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row:after {
		clear: both;
	}
	[class*="span"] {
		float: left;
		min-height: 1px;
		margin-left: 20px;
	}
	.container {
		width: 724px;
	}
	.span12 {
		width: 724px;
	}
	.span11 {
		width: 662px;
	}
	.span10 {
		width: 600px;
	}
	.span9 {
		width: 538px;
	}
	.span8 {
		width: 476px;
	}
	.span7 {
		width: 414px;
	}
	.span6 {
		width: 352px;
	}
	.span5 {
		width: 290px;
	}
	.span4 {
		width: 228px;
	}
	.span3 {
		width: 166px;
	}
	.span2 {
		width: 104px;
	}
	.span1 {
		width: 42px;
	}
	.offset12 {
		margin-left: 764px;
	}
	.offset11 {
		margin-left: 702px;
	}
	.offset10 {
		margin-left: 640px;
	}
	.offset9 {
		margin-left: 578px;
	}
	.offset8 {
		margin-left: 516px;
	}
	.offset7 {
		margin-left: 454px;
	}
	.offset6 {
		margin-left: 392px;
	}
	.offset5 {
		margin-left: 330px;
	}
	.offset4 {
		margin-left: 268px;
	}
	.offset3 {
		margin-left: 206px;
	}
	.offset2 {
		margin-left: 144px;
	}
	.offset1 {
		margin-left: 82px;
	}
	.row-fluid {
		width: 100%;
		*zoom: 1;
	}
	.row-fluid:before,
	.row-fluid:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row-fluid:after {
		clear: both;
	}
	.row-fluid [class*="span"] {
		display: block;
		width: 100%;
		min-height: 30px;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2.7624309392265194%;
		*margin-left: 2.709239449864817%;
	}
	.row-fluid [class*="span"]:first-child {
		margin-left: 0;
	}
	.row-fluid .span12 {
		width: 100%;
		*width: 99.94680851063829%;
	}
	.row-fluid .span11 {
		width: 91.43646408839778%;
		*width: 91.38327259903608%;
	}
	.row-fluid .span10 {
		width: 82.87292817679558%;
		*width: 82.81973668743387%;
	}
	.row-fluid .span9 {
		width: 74.30939226519337%;
		*width: 74.25620077583166%;
	}
	.row-fluid .span8 {
		width: 65.74585635359117%;
		*width: 65.69266486422946%;
	}
	.row-fluid .span7 {
		width: 57.18232044198895%;
		*width: 57.12912895262725%;
	}
	.row-fluid .span6 {
		width: 48.61878453038674%;
		*width: 48.56559304102504%;
	}
	.row-fluid .span5 {
		width: 40.05524861878453%;
		*width: 40.00205712942283%;
	}
	.row-fluid .span4 {
		width: 31.491712707182323%;
		*width: 31.43852121782062%;
	}
	.row-fluid .span3 {
		width: 22.92817679558011%;
		*width: 22.87498530621841%;
	}
	.row-fluid .span2 {
		width: 14.3646408839779%;
		*width: 14.311449394616199%;
	}
	.row-fluid .span1 {
		width: 5.801104972375691%;
		*width: 5.747913483013988%;
	}
	.row-fluid .offset12 {
		margin-left: 105.52486187845304%;
		*margin-left: 105.41847889972962%;
	}
	.row-fluid .offset12:first-child {
		margin-left: 102.76243093922652%;
		*margin-left: 102.6560479605031%;
	}
	.row-fluid .offset11 {
		margin-left: 96.96132596685082%;
		*margin-left: 96.8549429881274%;
	}
	.row-fluid .offset11:first-child {
		margin-left: 94.1988950276243%;
		*margin-left: 94.09251204890089%;
	}
	.row-fluid .offset10 {
		margin-left: 88.39779005524862%;
		*margin-left: 88.2914070765252%;
	}
	.row-fluid .offset10:first-child {
		margin-left: 85.6353591160221%;
		*margin-left: 85.52897613729868%;
	}
	.row-fluid .offset9 {
		margin-left: 79.8342541436464%;
		*margin-left: 79.72787116492299%;
	}
	.row-fluid .offset9:first-child {
		margin-left: 77.07182320441989%;
		*margin-left: 76.96544022569647%;
	}
	.row-fluid .offset8 {
		margin-left: 71.2707182320442%;
		*margin-left: 71.16433525332079%;
	}
	.row-fluid .offset8:first-child {
		margin-left: 68.50828729281768%;
		*margin-left: 68.40190431409427%;
	}
	.row-fluid .offset7 {
		margin-left: 62.70718232044199%;
		*margin-left: 62.600799341718584%;
	}
	.row-fluid .offset7:first-child {
		margin-left: 59.94475138121547%;
		*margin-left: 59.838368402492065%;
	}
	.row-fluid .offset6 {
		margin-left: 54.14364640883978%;
		*margin-left: 54.037263430116376%;
	}
	.row-fluid .offset6:first-child {
		margin-left: 51.38121546961326%;
		*margin-left: 51.27483249088986%;
	}
	.row-fluid .offset5 {
		margin-left: 45.58011049723757%;
		*margin-left: 45.47372751851417%;
	}
	.row-fluid .offset5:first-child {
		margin-left: 42.81767955801105%;
		*margin-left: 42.71129657928765%;
	}
	.row-fluid .offset4 {
		margin-left: 37.01657458563536%;
		*margin-left: 36.91019160691196%;
	}
	.row-fluid .offset4:first-child {
		margin-left: 34.25414364640884%;
		*margin-left: 34.14776066768544%;
	}
	.row-fluid .offset3 {
		margin-left: 28.45303867403315%;
		*margin-left: 28.346655695309746%;
	}
	.row-fluid .offset3:first-child {
		margin-left: 25.69060773480663%;
		*margin-left: 25.584224756083227%;
	}
	.row-fluid .offset2 {
		margin-left: 19.88950276243094%;
		*margin-left: 19.783119783707537%;
	}
	.row-fluid .offset2:first-child {
		margin-left: 17.12707182320442%;
		*margin-left: 17.02068884448102%;
	}
	.row-fluid .offset1 {
		margin-left: 11.32596685082873%;
		*margin-left: 11.219583872105325%;
	}
	.row-fluid .offset1:first-child {
		margin-left: 8.56353591160221%;
		*margin-left: 8.457152932878806%;
	}

	input,
	textarea {
		margin-left: 0;
	}
	input.span12, textarea.span12 {
		width: 714px;
	}
	input.span11, textarea.span11 {
		width: 652px;
	}
	input.span10, textarea.span10 {
		width: 590px;
	}
	input.span9, textarea.span9 {
		width: 528px;
	}
	input.span8, textarea.span8 {
		width: 466px;
	}
	input.span7, textarea.span7 {
		width: 404px;
	}
	input.span6, textarea.span6 {
		width: 342px;
	}
	input.span5, textarea.span5 {
		width: 280px;
	}
	input.span4, textarea.span4 {
		width: 218px;
	}
	input.span3, textarea.span3 {
		width: 156px;
	}
	input.span2, textarea.span2 {
		width: 94px;
	}
	input.span1, textarea.span1 {
		width: 32px;
	}
}
@media (min-width: 1200px) {
	.row {
		margin-left: -30px;
		*zoom: 1;
	}
	.row:before,
	.row:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row:after {
		clear: both;
	}
	[class*="span"] {
		float: left;
		min-height: 1px;
		margin-left: 30px;
	}
	.container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container {
		width: 1170px;
	}
	.span12 {
		width: 1170px;
	}
	.span11 {
		width: 1070px;
	}
	.span10 {
		width: 970px;
	}
	.span9 {
		width: 870px;
	}
	.span8 {
		width: 770px;
	}
	.span7 {
		width: 670px;
	}
	.span6 {
		width: 570px;
	}
	.span5 {
		width: 470px;
	}
	.span4 {
		width: 370px;
	}
	.span3 {
		width: 270px;
	}
	.span2 {
		width: 170px;
	}
	.span1 {
		width: 70px;
	}
	.offset12 {
		margin-left: 1230px;
	}
	.offset11 {
		margin-left: 1130px;
	}
	.offset10 {
		margin-left: 1030px;
	}
	.offset9 {
		margin-left: 930px;
	}
	.offset8 {
		margin-left: 830px;
	}
	.offset7 {
		margin-left: 730px;
	}
	.offset6 {
		margin-left: 630px;
	}
	.offset5 {
		margin-left: 530px;
	}
	.offset4 {
		margin-left: 430px;
	}
	.offset3 {
		margin-left: 330px;
	}
	.offset2 {
		margin-left: 230px;
	}
	.offset1 {
		margin-left: 130px;
	}
	.row-fluid {
		width: 100%;
		*zoom: 1;
	}
	.row-fluid:before,
	.row-fluid:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row-fluid:after {
		clear: both;
	}
	.row-fluid [class*="span"] {
		display: block;
		width: 100%;
		min-height: 30px;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2.564102564102564%;
		*margin-left: 2.5109110747408616%;
	}
	.row-fluid [class*="span"]:first-child {
		margin-left: 0;
	}
	.row-fluid .span12 {
		width: 100%;
		*width: 99.94680851063829%;
	}
	.row-fluid .span11 {
		width: 91.45299145299145%;
		*width: 91.39979996362975%;
	}
	.row-fluid .span10 {
		width: 82.90598290598291%;
		*width: 82.8527914166212%;
	}
	.row-fluid .span9 {
		width: 74.35897435897436%;
		*width: 74.30578286961266%;
	}
	.row-fluid .span8 {
		width: 65.81196581196582%;
		*width: 65.75877432260411%;
	}
	.row-fluid .span7 {
		width: 57.26495726495726%;
		*width: 57.21176577559556%;
	}
	.row-fluid .span6 {
		width: 48.717948717948715%;
		*width: 48.664757228587014%;
	}
	.row-fluid .span5 {
		width: 40.17094017094017%;
		*width: 40.11774868157847%;
	}
	.row-fluid .span4 {
		width: 31.623931623931625%;
		*width: 31.570740134569924%;
	}
	.row-fluid .span3 {
		width: 23.076923076923077%;
		*width: 23.023731587561375%;
	}
	.row-fluid .span2 {
		width: 14.52991452991453%;
		*width: 14.476723040552828%;
	}
	.row-fluid .span1 {
		width: 5.982905982905983%;
		*width: 5.929714493544281%;
	}
	.row-fluid .offset12 {
		margin-left: 105.12820512820512%;
		*margin-left: 105.02182214948171%;
	}
	.row-fluid .offset12:first-child {
		margin-left: 102.56410256410257%;
		*margin-left: 102.45771958537915%;
	}
	.row-fluid .offset11 {
		margin-left: 96.58119658119658%;
		*margin-left: 96.47481360247316%;
	}
	.row-fluid .offset11:first-child {
		margin-left: 94.01709401709402%;
		*margin-left: 93.91071103837061%;
	}
	.row-fluid .offset10 {
		margin-left: 88.03418803418803%;
		*margin-left: 87.92780505546462%;
	}
	.row-fluid .offset10:first-child {
		margin-left: 85.47008547008548%;
		*margin-left: 85.36370249136206%;
	}
	.row-fluid .offset9 {
		margin-left: 79.48717948717949%;
		*margin-left: 79.38079650845607%;
	}
	.row-fluid .offset9:first-child {
		margin-left: 76.92307692307693%;
		*margin-left: 76.81669394435352%;
	}
	.row-fluid .offset8 {
		margin-left: 70.94017094017094%;
		*margin-left: 70.83378796144753%;
	}
	.row-fluid .offset8:first-child {
		margin-left: 68.37606837606839%;
		*margin-left: 68.26968539734497%;
	}
	.row-fluid .offset7 {
		margin-left: 62.393162393162385%;
		*margin-left: 62.28677941443899%;
	}
	.row-fluid .offset7:first-child {
		margin-left: 59.82905982905982%;
		*margin-left: 59.72267685033642%;
	}
	.row-fluid .offset6 {
		margin-left: 53.84615384615384%;
		*margin-left: 53.739770867430444%;
	}
	.row-fluid .offset6:first-child {
		margin-left: 51.28205128205128%;
		*margin-left: 51.175668303327875%;
	}
	.row-fluid .offset5 {
		margin-left: 45.299145299145295%;
		*margin-left: 45.1927623204219%;
	}
	.row-fluid .offset5:first-child {
		margin-left: 42.73504273504273%;
		*margin-left: 42.62865975631933%;
	}
	.row-fluid .offset4 {
		margin-left: 36.75213675213675%;
		*margin-left: 36.645753773413354%;
	}
	.row-fluid .offset4:first-child {
		margin-left: 34.18803418803419%;
		*margin-left: 34.081651209310785%;
	}
	.row-fluid .offset3 {
		margin-left: 28.205128205128204%;
		*margin-left: 28.0987452264048%;
	}
	.row-fluid .offset3:first-child {
		margin-left: 25.641025641025642%;
		*margin-left: 25.53464266230224%;
	}
	.row-fluid .offset2 {
		margin-left: 19.65811965811966%;
		*margin-left: 19.551736679396257%;
	}
	.row-fluid .offset2:first-child {
		margin-left: 17.094017094017094%;
		*margin-left: 16.98763411529369%;
	}
	.row-fluid .offset1 {
		margin-left: 11.11111111111111%;
		*margin-left: 11.004728132387708%;
	}
	.row-fluid .offset1:first-child {
		margin-left: 8.547008547008547%;
		*margin-left: 8.440625568285142%;
	}

	input,
	textarea {
		margin-left: 0;
		vertical-align: middle;
	}
	input.span12, textarea.span12 {
		width: 1160px;
	}
	input.span11, textarea.span11 {
		width: 1060px;
	}
	input.span10, textarea.span10 {
		width: 960px;
	}
	input.span9, textarea.span9 {
		width: 860px;
	}
	input.span8, textarea.span8 {
		width: 760px;
	}
	input.span7, textarea.span7 {
		width: 660px;
	}
	input.span6, textarea.span6 {
		width: 560px;
	}
	input.span5, textarea.span5 {
		width: 460px;
	}
	input.span4, textarea.span4 {
		width: 360px;
	}
	input.span3, textarea.span3 {
		width: 260px;
	}
	input.span2, textarea.span2 {
		width: 160px;
	}
	input.span1, textarea.span1 {
		width: 60px;
	}
}

/*
 * V0.2 Templates !
 *
*/


* {
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
}

body {
	margin: 0;
	font-family: "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #333333;
	background-color: #ffffff;
	height: 100%;
	word-wrap: break-word;
}

a {
	color: #60B4FA; /* Royalblue */
	text-decoration: none;

	transition: color .2s ease-out;
	-webkit-transition: color .2s ease-out;
}

a:hover {
	color: #FFB933;
	text-decoration: underline;
}
/*
a.external {
	background: url('../img/external.png') no-repeat scroll right center transparent;
    padding-right: 13px;
}
a.new-tab {
	background: url('../img/new-tab.png') no-repeat scroll right center transparent;
    padding-right: 19px;
}*/

ul {
	list-style: none;
}

form {
	margin: 0 0 18px;
}
form hr {
	margin: -3px 0 9px;
}

.required {
	color: #CD0A0A;
	font-weight: bold;
}

label {
	vertical-align: middle;
	margin-right: 5px;
	color: #777777;
	text-shadow: 0px 0px 1px rgba(0,0,0, 0.15);
}

/* -- Classes styles -- */
.discret { color: #E3E3E3 !important; }

.small { font-size: $small-size; }
.big { font-size: $big-size; }

.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline;}
.overline { text-decoration: overline;}
.line-through { text-decoration: line-through;}

/* -- Classes d'aide -- */

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }

.float-right { float: right; }
.float-left { float: left; }

.clear { clear: both; }

.no-padding { padding: 0 !important; }
.no-margin { margin: 0 !important; }

.hide, .hide-begin { display: none; } /* hide-begin: caché au départ pour un affichage plus tard */
.show { display: block; }

.pointer {cursor: pointer;}

/* -- CSS principal -- */
.btn {
	@include user-select-none;
}

a.btn {
	&:hover { color: #FFFFFF; }
	&:focus, &:active { color: #000000; }
}

/* Colors :
black:	#000000;
white:	#FFFFFF;
grey:	#C0C0C0; (silver)
red:	#FF0000; (red)
orange:	#FFA500;
yellow:	#FFD100; (gold)
green:	#228B22: (forestgreen)
blue:	#4169E1: (royalblue)
violet:	#9932CC: (darkorchid)
pink:	#FFB6C1: (lightpink)
------------------------------- */

.grey {
	color: $color-grey !important;
}
.black {
	color: $color-black !important;
}
.white {
	color: $color-white !important;
}
.red {
	color: $color-red !important;
}
.orange {
	color: $color-orange !important;
}
.yellow {
	color: $color-yellow !important;
}
.green {
	color: $color-green !important;
}
.blue {
	color: $color-blue !important;
}
.violet {
	color: $color-violet !important;
}
.pink {
	color: $color-pink !important;
}


a.grey:hover {
	color: $color-grey-lighten !important;
}
a.black:hover {
	color: $color-black-lighten !important;
}
a.white:hover {
	color: $color-white-darken !important;
}
a.red:hover {
	color: $color-red-lighten !important;
}
a.orange:hover {
	color: $color-orange-lighten !important;
}
a.yellow:hover {
	color: $color-yellow-lighten !important;
}
a.green:hover {
	color: $color-green-lighten !important;
}
a.blue:hover {
	color: $color-blue-lighten !important;
}
a.violet:hover {
	color: $color-violet-lighten !important;
}
a.pink:hover {
	color: $color-pink-lighten !important;
}

/* well */
.well {
	border: 1px solid #C0C0C0;
	background-color: #F5F5F5;
	display: block;
	padding: 2px 6px 2px;
	border-radius: $well-border-radius;
    word-wrap: break-word;
}
.well.grey {
	border: 1px solid $color-grey;
	background-color: $color-grey-lighten;
	color: $color-grey;
}
.well.black {
	border: 1px solid #C0C0C0;
	background-color: $color-black;
	color: $color-white !important;
}
.well.white {
	border: 1px solid #C0C0C0;
	background-color: $color-white;
	color: $color-black !important;
}
.well.red {
	border: 1px solid $color-red;
	background-color: $color-red-lighten;
	color: $color-red;
}
.well.orange {
	border: 1px solid $color-orange;
	background-color: $color-orange-lighten;
	color: $color-orange;
}
.well.yellow {
	border: 1px solid $color-yellow;
	background-color: $color-yellow-lighten;
	color: $color-yellow;
}
.well.green {
	border: 1px solid $color-green;
	background-color: $color-green-lighten ;
	color: $color-green;
}
.well.blue {
	border: 1px solid $color-blue;
	background-color: $color-blue-lighten;
	color: $color-blue;
}
.well.violet {
	border: 1px solid $color-violet;
	background-color: $color-violet-lighten;
	color: $color-violet;
}
.well.pink {
	border: 1px solid $color-pink;
	background-color: $color-pink-lighten;
	color: $color-pink;
}

/* Form */

form.well, .well form {
}

form.well p, .well form p {
	padding: 0 5px;
}

.form-horizontal label, .form-inline label {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 60%;
	text-align: right;
	padding-right: 4px;
}

.form-vertical label {
	display: block;
	text-align: left;
	padding-right: 4px;
}

.form-inline label {
	width: auto;
	text-align: left;
}

/* Table */

table.bordered { border-right: none; }
.bordered td,.bordered th {
	border-right: 1px solid $table-border-color;
}

table.stripped tbody tr:nth-child(even) {
	background-color: $table-strip-color;
}

table.separate {
	border: 1px solid $table-border-color;
	border-collapse: separate;
}
table.no-border, table.no-border td, table.no-border th, table.no-border tr {
	border: none;
}



/* icons */
.ui-icon-grey, .grey .ui-icon {
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-grey.png');
}
.ui-icon-black, .white .ui-icon { /* inversion */
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-black.png');
}
.ui-icon-white, .black .ui-icon { /* inversion */
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-white.png');
}
.ui-icon-red, .red .ui-icon {
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-red.png');
}
.ui-icon-orange, .orange .ui-icon {
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-orange.png');
}
.ui-icon-yellow, .yellow .ui-icon {
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-yellow.png');
}
.ui-icon-green, .green .ui-icon {
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-green.png');
}
.ui-icon-blue, .blue .ui-icon {
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-blue.png');
}
.ui-icon-violet, .violet .ui-icon {
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-violet.png');
}
.ui-icon-pink, .pink .ui-icon {
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-pink.png');
}


.ui-icon-success, .success .ui-icon {
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-success.png');
}
.ui-icon-error, .error .ui-icon {
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-error.png');
}
.ui-icon-highlight, .highlight .ui-icon {
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-highlight.png');
}


/* shadow */
.shadow-outset, .shadow-hover:hover {
	box-shadow: $shadow-outset-size #656565;
}
.shadow-inset {
	box-shadow: inset $shadow-inset-size #656565;
}
.shadow-outset.grey, .grey.shadow-hover:hover {
	box-shadow: $shadow-outset-size $color-grey;
}
.shadow-inset.grey {
	box-shadow: inset $shadow-inset-size $color-grey;
}
.shadow-outset.black, .black.shadow-hover:hover {
	box-shadow: $shadow-outset-size $color-white;
}
.shadow-inset.black {
	box-shadow: inset $shadow-inset-size $color-white;
}
.shadow-outset.white, .white.shadow-hover:hover {
	box-shadow: $shadow-outset-size $color-black;
}
.shadow-inset.white {
	box-shadow: inset $shadow-inset-size $color-black;
}
.shadow-outset.red, .red.shadow-hover:hover {
	box-shadow: $shadow-outset-size $color-red;
}
.shadow-inset.red {
	box-shadow: inset $shadow-inset-size $color-red;
}
.shadow-outset.orange, .orange.shadow-hover:hover {
	box-shadow: $shadow-outset-size $color-orange;
}
.shadow-inset.orange {
	box-shadow: inset $shadow-inset-size $color-orange;
}
.shadow-outset.yellow, .yellow.shadow-hover:hover {
	box-shadow: $shadow-outset-size $color-yellow;
}
.shadow-inset.yellow {
	box-shadow: inset $shadow-inset-size $color-yellow;
}
.shadow-outset.green, .green.shadow-hover:hover {
	box-shadow: $shadow-outset-size $color-green;
}
.shadow-inset.green {
	box-shadow: inset $shadow-inset-size $color-green;
}
.shadow-outset.blue, .blue.shadow-hover:hover {
	box-shadow: $shadow-outset-size $color-blue;
}
.shadow-inset.blue {
	box-shadow: inset $shadow-inset-size $color-blue;
}
.shadow-outset.violet, .violet.shadow-hover:hover {
	box-shadow: $shadow-outset-size $color-violet;
}
.shadow-inset.violet {
	box-shadow: inset $shadow-inset-size $color-violet;
}
.shadow-outset.pink, .pink.shadow-hover:hover {
	box-shadow: $shadow-outset-size $color-pink;
}
.shadow-inset.pink {
	box-shadow: inset $shadow-inset-size $color-pink;
}

/* alert */
.shadow-outset.error, .error.shadow-hover:hover {
	box-shadow: $shadow-outset-size $color-error;
}
.shadow-inset.error {
	box-shadow: inset $shadow-inset-size $color-error;
}
.shadow-outset.success, .success.shadow-hover:hover {
	box-shadow: $shadow-outset-size $color-success;
}
.shadow-inset.success {
	box-shadow: inset $shadow-inset-size $color-success;
}
.shadow-outset.highlight, .highlight.shadow-hover:hover {
	box-shadow: $shadow-outset-size $color-highlight;
}
.shadow-inset.highlight {
	box-shadow: inset $shadow-inset-size $color-highlight;
}

.shadow-hover {
	transition: box-shadow $shadow-transition-type $shadow-transition-speed;
	-webkit-transition: box-shadow $shadow-transition-type $shadow-transition-speed;
}

/* fade */
[class*="fade"] {
	transition: opacity $fade-transition-type $fade-transition-speed;
	-webkit-transition: opacity $fade-transition-type $fade-transition-speed;
}

.fade-in-hover:hover {
	opacity: 1;
}
.fade-out-hover:hover, .fade {
	opacity: $fade-opacity;
}

/* rotate */
@mixin rotate($deg) {
	transform:rotate($deg);
	-ms-transform:rotate($deg); /* IE 9 */
	-webkit-transform:rotate($deg);
}

[class*="rotate"] {
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
	transform-origin: center center;
}
.rotate-l-45, .rotate-l-45-hover:hover {
	@include rotate(-45deg);
}
.rotate-r-45, .rotate-r-45-hover:hover {
	@include rotate(45deg);
}
.rotate-l-90, .rotate-l-90-hover:hover {
	@include rotate(-90deg);
}
.rotate-r-90, .rotate-r-90-hover:hover {
	@include rotate(90deg);
}
.rotate-l-180, .rotate-l-180-hover:hover {
	@include rotate(-180deg);
}
.rotate-r-180, .rotate-r-180-hover:hover {
	@include rotate(180deg);
}
.rotate-l-360-hover:hover {
	@include rotate(-360deg);
}
.rotate-r-360-hover:hover {
	@include rotate(360deg);
}


/* badge / labels */
.label {
	padding: $label-padding;
	border-radius: $label-radius;
	color: $label-color !important;
}
.badge {
	padding: $badge-padding;
	border-radius: $badge-radius;
	color: $badge-color !important;
}

.label, .badge {
	font-size: 10px;
	font-weight: bold;
	line-height: 14px;
	vertical-align: baseline;
	white-space: nowrap;
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
	background-color: #999999;
	&.grey {
		background-color: $color-grey;
	}
	&.black {
		background-color: $color-black;
		color: $color-white !important;
	}
	&.white {
		background-color: $color-white;
		color: $color-black !important;
	}
	&.red {
		background-color: $color-red;
	}
	&.orange {
		background-color: $color-orange;
	}
	&.yellow {
		background-color: $color-yellow;
	}
	&.green {
		background-color: $color-green;
	}
	&.blue {
		background-color: $color-blue;
	}
	&.violet {
		background-color: $color-violet;
	}
	&.pink {
		background-color: $color-pink;
	}
}

.label a, .badge a {
	color: #FFFFFF;
	&:hover {
		color: #AAAAAA !important;
		text-shadow: none;
	}
}
.label a.white, .badge a.white {color: $color-black !important;}

a.label, a.badge {
	&:hover {
		color: #FFFFFF !important;
		text-decoration: none;
		cursor: pointer;
		box-shadow: $label-badge-shadow-size #656565;

		transition: box-shadow ease $label-badge-shadow-speed;
		-webkit-transition: box-shadow ease $label-badge-shadow-speed;
	}
	&.grey:hover {
		box-shadow: $label-badge-shadow-size $color-grey;
	}
	&.black:hover {
		box-shadow: $label-badge-shadow-size $color-black;
	}
	&.white:hover {
		box-shadow: $label-badge-shadow-size $color-white;
		color: $color-black !important;
	}
	&.red:hover {
		box-shadow: $label-badge-shadow-size $color-red;
	}
	&.orange:hover {
		box-shadow: $label-badge-shadow-size $color-orange;
	}
	&.yellow:hover {
		box-shadow: $label-badge-shadow-size $color-yellow;
	}
	&.green:hover {
		box-shadow: $label-badge-shadow-size $color-green;
	}
	&.blue:hover {
		box-shadow: $label-badge-shadow-size $color-blue;
	}
	&.violet:hover {
		box-shadow: $label-badge-shadow-size $color-violet;
	}
	&.pink:hover {
		box-shadow: $label-badge-shadow-size $color-pink;
	}
}

/* Success - Error - Highlight */
.success {
	color: $color-success !important;
}
.error {
	color: $color-error !important;
}
.highlight {
	color: $color-highlight !important;
}

a {
	&.success {
		color: $color-success !important;
		&:hover { color: $color-success-lighten !important;}
	}
	&.error {
		color: $color-error !important;
		&:hover { color: $color-error-lighten !important;}
	}
	&.highlight {
		color: $color-highlight !important;
		&:hover { color: $color-highlight-lighten !important;}
	}
}

.well {
	&.success {
		border: 1px solid $color-success;
		background-color: $color-success-lighten;
	}
	&.error {
		border: 1px solid $color-error;
		background-color: $color-error-lighten;
	}
	&.highlight {
		border: 1px solid $color-highlight;
		background-color: $color-highlight-lighten;
	}
}

.label, .badge {
	&.success {
		background-color: $color-success;
		color: #FFFFFF !important;
	}
	&.error {
		background-color: $color-error;
		color: #FFFFFF !important;
	}
	&.highlight {
		background-color: $color-highlight;
		color: #FFFFFF !important;
	}
}
a.label, a.badge {
	&.success:hover {
		box-shadow: $label-badge-shadow-size $color-success;
	}
	&.error:hover {
		box-shadow: $label-badge-shadow-size $color-error;
	}
	&.highlight:hover {
		box-shadow: $label-badge-shadow-size $color-highlight;
	}
}

/* Inputs */
@mixin input-colors($border, $bg, $color) {
	border: 1px solid $border !important;
	background-color: $bg;
	color: $color !important;
}
@mixin input-colors-focus($color) {
	box-shadow: $input-text-shadow-outset-size transparentize($color, $input-text-shadow-outset-transparentize), inset $input-text-shadow-inset-size transparentize($color, $input-text-shadow-inset-transparentize);
}
@mixin input-colors-placeholder($color, $transparentize: 0.4) {
	&::-webkit-input-placeholder { color: transparentize($color, $transparentize) !important; }
	&:-moz-placeholder { color: transparentize($color, $transparentize) !important; }
	&::-moz-placeholder { color: transparentize($color, $transparentize) !important; }
	&:-ms-input-placeholder { color: transparentize($color, $transparentize) !important; }
}

input.success, textarea.success {
	@include input-colors($color-success, $color-success-lighten, $color-success);
	&:focus { @include input-colors-focus($color-success); }
	@include input-colors-placeholder($color-success);
}
input.error, textarea.error {
	@include input-colors($color-error, $color-error-lighten, $color-error);
	&:focus { @include input-colors-focus($color-error); }
	@include input-colors-placeholder($color-error);
}
input.highlight, textarea.highlight {
	@include input-colors($color-highlight, $color-highlight-lighten, $color-highlight);
	&:focus { @include input-colors-focus($color-highlight); }
	@include input-colors-placeholder($color-highlight);
}

input.grey, textarea.grey {
	@include input-colors($color-grey, $color-grey-lighten, $color-grey);
	&:focus { @include input-colors-focus($color-grey); }
}
input.black, textarea.black {
	@include input-colors($color-white, $color-black-lighten, $color-white);
	&:focus { @include input-colors-focus($color-white); }
	@include input-colors-placeholder($color-white);
}
input.white, textarea.white {
	@include input-colors($color-black, $color-white-lighten, $color-black);
	&:focus { @include input-colors-focus($color-black); }
	@include input-colors-placeholder($color-black);
}
input.red, textarea.red {
	@include input-colors($color-red, $color-red-lighten, $color-red);
	&:focus { @include input-colors-focus($color-red); }
	@include input-colors-placeholder($color-red);
}
input.orange, textarea.orange {
	@include input-colors($color-orange, $color-orange-lighten, $color-orange);
	&:focus { @include input-colors-focus($color-orange); }
	@include input-colors-placeholder($color-orange);
}
input.yellow, textarea.yellow {
	@include input-colors($color-yellow, $color-yellow-lighten, $color-yellow);
	&:focus { @include input-colors-focus($color-yellow); }
	@include input-colors-placeholder($color-yellow);
}
input.green, textarea.green {
	@include input-colors($color-green, $color-green-lighten, $color-green);
	&:focus { @include input-colors-focus($color-green); }
	@include input-colors-placeholder($color-green);
}
input.blue, textarea.blue {
	@include input-colors($color-blue, $color-blue-lighten, $color-blue);
	&:focus { @include input-colors-focus($color-blue); }
	@include input-colors-placeholder($color-blue);
}
input.violet, textarea.violet {
	@include input-colors($color-violet, $color-violet-lighten, $color-violet);
	&:focus { @include input-colors-focus($color-violet); }
	@include input-colors-placeholder($color-violet);
}
input.pink, textarea.pink {
	@include input-colors($color-pink, $color-pink-lighten, $color-pink);
	&:focus { @include input-colors-focus($color-pink); }
	@include input-colors-placeholder($color-pink);
}


/* Clickable */
.clickable {
	padding: 4px 6px;
	border: 1px solid #CCCCCC;
	color: #555555;
	cursor: pointer;

	background: #F2F2F2;
	background: -webkit-linear-gradient(top, #F2F2F2 0%,#CCCCCC 100%);
	background: linear-gradient(to bottom, #F2F2F2 0%,#CCCCCC 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F2F2F2', endColorstr='#CCCCCC',GradientType=0 );

	transition: color 0.2s ease-out, background 0.2s ease-out, text-shadow 0.2s ease-out, border 0.2s ease-out, border-radius 0.2s ease-out;
	-webkit-transition: color 0.2s ease-out, backgroung 0.2s ease-out, text-shadow 0.2s ease-out, border 0.2s ease-out, border-radius 0.2s ease-out, box-shadow 0.1s linear;
	@include user-select-none;

	&:hover, &:focus {
		border: 1px solid #777777;
		text-shadow:0px 0px 1px rgba(0,0,0, .1), 0px 0px 2px rgba(0,0,0, .3);

		background: #cccccc;
		background: -webkit-linear-gradient(top, #f2f2f2 0%,#cccccc 100%);
		background: linear-gradient(to bottom, #f2f2f2 0%,#cccccc 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#cccccc',GradientType=0 );
	}
	&:active {
		border: 1px solid #aaaaaa;
		padding: 4px 5px 4px 7px; /* effet poussoir */

		box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	}
}
a.clickable {
	color: #555555;
	line-height: 28px;
}

.clickable.grey {
	border: 1px solid $color-grey;
	color: darken($color-grey, 5%) !important;

	background: $color-grey-lighten;
	background: -webkit-linear-gradient(top, $color-grey-lighten 0%,#CCCCCC 100%);
	background: linear-gradient(to bottom, $color-grey-lighten 0%,#CCCCCC 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color-grey-lighten}', endColorstr='#CCCCCC',GradientType=0 );
}
.clickable.grey:hover, .clickable.grey:focus {
	border: 1px solid darken($color-grey, 5%);
	color: $color-grey !important;

	background: #CCCCCC;
	background: -webkit-linear-gradient(top, $color-grey-lighten 0%,#CCCCCC 100%);
	background: linear-gradient(to bottom, $color-grey-lighten 0%,#CCCCCC 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCCCCC', endColorstr='#{$color-grey-lighten}',GradientType=0 );
}
.clickable.grey:active {
	border: 1px solid darken($color-grey-lighten, $lighten - 5%);

	box-shadow: inset 0 2px 4px transparentize($color-grey, .85), 0 1px 2px transparentize($color-grey, .95);
}

.clickable.black, a.clickable.black {
	border: 1px solid $color-black;
	color: #FFFFFF !important;

	background: $color-black;
	background: -webkit-linear-gradient(top, #CCCCCC 0%,lighten($color-black, 2%) 100%);
	background: linear-gradient(to bottom, #CCCCCC 0%,lighten($color-black, 2%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCCCCC', endColorstr='#{lighten($color-black, 2%)}',GradientType=0 );
}
.clickable.black:hover, .clickable.black:focus, a.clickable.black:hover, a.clickable.black:focus {
	border: 1px solid #444444;
	text-shadow:0px 0px 2px rgba(255,255,255, 0.6);

	background: $color-black;
	background: -webkit-linear-gradient(top, #CCCCCC 0%,$color-black 100%);
	background: linear-gradient(to bottom, #CCCCCC 0%,$color-black 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCCCCC', endColorstr='#{$color-black}',GradientType=0 );
}
.clickable.black:active, a.clickable.black:active {
	border: 1px solid #888888;

	box-shadow: inset 0 2px 4px transparentize($color-black, .85), 0 1px 2px transparentize($color-black, .95);
}

.clickable.white, a.clickable.white {
	border: 1px solid #AAAAAA;
	color: $color-black !important;

	background: $color-white;
	background: -webkit-linear-gradient(top, $color-white 0%,darken($color-white, 12%) 100%);
	background: linear-gradient(to bottom, $color-white 0%,darken($color-white, 12%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color-white}', endColorstr='darken($color-white, 12%)',GradientType=0 );
}
.clickable.white:hover, .clickable.white:focus, a.clickable.white:hover, a.clickable.white:focus {
	border: 1px solid #999999;

	background: darken($color-white, 16%);
	background: -webkit-linear-gradient(top, $color-white 0%,darken($color-white, 16%) 100%);
	background: linear-gradient(to bottom, $color-white 0%,darken($color-white, 16%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color-white}', endColorstr='darken($color-white, 16%)',GradientType=0 );
}
.clickable.white:active, a.clickable.white:active {
	border: 1px solid #B0B0B0;

	box-shadow: inset 0 2px 4px transparentize($color-black, .85), 0 1px 2px transparentize($color-black, .95);
}

.clickable.red{
	border: 1px solid $color-red;
	color: darken($color-red, 5%) !important;

	background: $color-red-lighten;
	background: -webkit-linear-gradient(top, $color-red-lighten 0%,darken($color-red-lighten, $lighten - 5%) 100%);
	background: linear-gradient(to bottom, $color-red-lighten 0%,darken($color-red-lighten, $lighten - 5%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color-red-lighten}', endColorstr='#{darken($color-red-lighten, $lighten - 5%)}',GradientType=0 );
}
.clickable.red:hover, .clickable.red:focus{
	border: 1px solid darken($color-red, 5%);
	color: $color-red !important;
	text-shadow:0px 0px 1px transparentize($color-red-darken, .85), 0px 0px 2px transparentize($color-red, .6);

	background: $color-red;
	background: -webkit-linear-gradient(top,  $color-red-lighten 0%,$color-red 100%);
	background: linear-gradient(to bottom,  $color-red-lighten 0%,$color-red 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color-red-lighten}', endColorstr='#{$color-red}',GradientType=0 );
}
.clickable.red:active{
	border: 1px solid darken($color-red-lighten, $lighten - 5%);

	box-shadow: inset 0 2px 4px transparentize($color-red, .85), 0 1px 2px transparentize($color-red, .95);
}

.clickable.orange{
	border: 1px solid $color-orange;
	color: darken($color-orange, 6%) !important;

	background: $color-orange-lighten;
	background: -webkit-linear-gradient(top, $color-orange-lighten 0%,darken($color-orange-lighten, $lighten - 5%) 100%);
	background: linear-gradient(to bottom, $color-orange-lighten 0%,darken($color-orange-lighten, $lighten - 5%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color-orange-lighten}', endColorstr='#{darken($color-orange-lighten, $lighten - 5%)}',GradientType=0 );
}
.clickable.orange:hover, .clickable.orange:focus{
	border: 1px solid darken($color-orange, 5%);
	color: $color-orange !important;
	text-shadow:0px 0px 1px transparentize($color-orange-darken, .85), 0px 0px 2px transparentize($color-orange, .6);

	background: $color-orange;
	background: -webkit-linear-gradient(top,  $color-orange-lighten 0%,$color-orange 100%);
	background: linear-gradient(to bottom,  $color-orange-lighten 0%,$color-orange 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color-orange-lighten}', endColorstr='#{$color-orange}',GradientType=0 );
}
.clickable.orange:active{
	border: 1px solid darken($color-orange-lighten, $lighten - 5%);

	box-shadow: inset 0 2px 4px transparentize($color-orange, .85), 0 1px 2px transparentize($color-orange, .95);
}

.clickable.yellow{
	border: 1px solid $color-yellow;
	color: saturate(darken($color-yellow, 4%), 50%) !important;

	background: $color-yellow-lighten;
	background: -webkit-linear-gradient(top, $color-yellow-lighten 0%,darken($color-yellow-lighten, $lighten - 5%) 100%);
	background: linear-gradient(to bottom, $color-yellow-lighten 0%,darken($color-yellow-lighten, $lighten - 5%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color-yellow-lighten}', endColorstr='#{darken($color-yellow-lighten, $lighten - 5%)}',GradientType=0 );
}
.clickable.yellow:hover, .clickable.yellow:focus{
	border: 1px solid darken($color-yellow, 5%);
	color: $color-yellow !important;
	text-shadow:0px 0px 1px transparentize($color-yellow-darken, .85), 0px 0px 2px transparentize($color-yellow, .6);

	background: $color-yellow;
	background: -webkit-linear-gradient(top,  $color-yellow-lighten 0%,$color-yellow 100%);
	background: linear-gradient(to bottom,  $color-yellow-lighten 0%,$color-yellow 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color-yellow-lighten}', endColorstr='#{$color-yellow}',GradientType=0 );
}
.clickable.yellow:active{
	border: 1px solid darken($color-yellow-lighten, $lighten - 5%);

	box-shadow: inset 0 2px 4px transparentize($color-yellow, .85), 0 1px 2px transparentize($color-yellow, .95);
}

.clickable.green{
	border: 1px solid $color-green;
	color: darken($color-green, 6%) !important;

	background: $color-green-lighten;
	background: -webkit-linear-gradient(top, $color-green-lighten 0%,darken($color-green-lighten, $lighten - 5%) 100%);
	background: linear-gradient(to bottom, $color-green-lighten 0%,darken($color-green-lighten, $lighten - 5%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color-green-lighten}', endColorstr='#{darken($color-green-lighten, $lighten - 5%)}',GradientType=0 );
}
.clickable.green:hover, .clickable.green:focus{
	border: 1px solid darken($color-green, 5%);
	color: $color-green !important;
	text-shadow:0px 0px 1px transparentize($color-green-darken, .85), 0px 0px 2px transparentize($color-green, .6);

	background: $color-green;
	background: -webkit-linear-gradient(top,  $color-green-lighten 0%,$color-green 100%);
	background: linear-gradient(to bottom,  $color-green-lighten 0%,$color-green 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color-green-lighten}', endColorstr='#{$color-green}',GradientType=0 );
}
.clickable.green:active{
	border: 1px solid darken($color-green-lighten, $lighten - 5%);

	box-shadow: inset 0 2px 4px transparentize($color-green, .85), 0 1px 2px transparentize($color-green, .95);
}

.clickable.blue{
	border: 1px solid $color-blue;
	color: darken($color-blue, 5%) !important;

	background: $color-blue-lighten;
	background: -webkit-linear-gradient(top, $color-blue-lighten 0%,darken($color-blue-lighten, $lighten - 5%) 100%);
	background: linear-gradient(to bottom, $color-blue-lighten 0%,darken($color-blue-lighten, $lighten - 5%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color-blue-lighten}', endColorstr='#{darken($color-blue-lighten, $lighten - 5%)}',GradientType=0 );
}
.clickable.blue:hover, .clickable.blue:focus{
	border: 1px solid darken($color-blue, 5%);
	color: $color-blue !important;
	text-shadow:0px 0px 1px transparentize($color-blue-darken, .85), 0px 0px 2px transparentize($color-blue, .6);

	background: $color-blue;
	background: -webkit-linear-gradient(top,  $color-blue-lighten 0%,$color-blue 100%);
	background: linear-gradient(to bottom,  $color-blue-lighten 0%,$color-blue 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color-blue}', endColorstr='#{$color-blue-lighten}',GradientType=0 );
}
.clickable.blue:active{
	border: 1px solid darken($color-blue-lighten, $lighten - 5%);

	box-shadow: inset 0 2px 4px transparentize($color-blue, .85), 0 1px 2px transparentize($color-blue, .95);
}

.clickable.violet{
	border: 1px solid $color-violet;
	color: darken($color-violet, 5%) !important;

	background: $color-violet-lighten;
	background: -webkit-linear-gradient(top, $color-violet-lighten 0%,darken($color-violet-lighten, $lighten - 5%) 100%);
	background: linear-gradient(to bottom, $color-violet-lighten 0%,darken($color-violet-lighten, $lighten - 5%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color-violet-lighten}', endColorstr='#{darken($color-violet-lighten, $lighten - 5%)}',GradientType=0 );
}
.clickable.violet:hover, .clickable.violet:focus{
	border: 1px solid darken($color-violet, 5%);
	color: $color-violet !important;
	text-shadow:0px 0px 1px transparentize($color-violet-darken, .85), 0px 0px 2px transparentize($color-violet, .6);

	background: $color-violet;
	background: -webkit-linear-gradient(top,  $color-violet-lighten 0%,$color-violet 100%);
	background: linear-gradient(to bottom,  $color-violet-lighten 0%,$color-violet 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color-violet-lighten}', endColorstr='#{$color-violet}',GradientType=0 );
}
.clickable.violet:active{
	border: 1px solid darken($color-violet-lighten, $lighten - 5%);

	box-shadow: inset 0 2px 4px transparentize($color-violet, .85), 0 1px 2px transparentize($color-violet, .95);
}

.clickable.pink{
	border: 1px solid $color-pink;
	color: darken($color-pink, 5%) !important;

	background: $color-pink-lighten;
	background: -webkit-linear-gradient(top, $color-pink-lighten 0%,darken($color-pink-lighten, $lighten - 5%) 100%);
	background: linear-gradient(to bottom, $color-pink-lighten 0%,darken($color-pink-lighten, $lighten - 5%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color-pink-lighten}', endColorstr='#{darken($color-pink-lighten, $lighten - 5%)}',GradientType=0 );
}
.clickable.pink:hover, .clickable.pink:focus{
	border: 1px solid darken($color-pink, 5%);
	color: $color-pink !important;
	text-shadow:0px 0px 1px transparentize($color-pink-darken, .85), 0px 0px 2px transparentize($color-pink, .6);
	
	background: $color-pink-darken;
	background: -webkit-linear-gradient(top, $color-pink-lighten 0%,$color-pink 100%);
	background: linear-gradient(to bottom, $color-pink-lighten 0%,$color-pink 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color-pink-lighten}', endColorstr='#{$color-pink}',GradientType=0 );
}
.clickable.pink:active{
	border: 1px solid darken($color-pink-lighten, $lighten - 5%);

	box-shadow: inset 0 2px 4px transparentize($color-pink, .85), 0 1px 2px transparentize($color-pink, .95);
}

.clickable[disabled], .clickable[disabled]:hover, .clickable[disabled]:focus, .clickable[disabled]:active{
	border: 1px solid #D9D9D9;
	color: #6D6D6D;
	padding: 4px 6px;

	background: #EFEFEF;
	box-shadow: none;
	text-shadow: none;
}
.clickable[disabled] .ui-icon {
	background-image: url('ui/images/ui-icons-grey.png');
}

/* Fil d'arianne */

.breadcrumb {
	padding: 5px 10px;
	margin: 0 0 18px;
	list-style: none;
	background-color: #FBFBFB;
	background: -webkit-linear-gradient(top, #FFFFFF, #F0F0F0);
	background: linear-gradient(to bottom, #FFFFFF, #F0F0F0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F0F0F0', GradientType=0);
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	box-shadow: inset 0 1px 0 #FFFFFF;
}
.breadcrumb li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-shadow: 0 1px 0 #FFFFFF;
}
.breadcrumb .divider {
	padding: 0 5px;
	color: #999999;
}
.breadcrumb .active {
	font-weight: bold;
}
.breadcrumb .active a {
	color: #333333;
}

/* Notifications Flash */
#notif-flash-wrapper {
	position: fixed;
	z-index: 500;
	max-width: 25%;
}
#notif-flash-wrapper .notif-flash {
	display: none;
}
#notif-flash-wrapper .notif-flash-close {
	float: right;
}

/* Carousel */

.carousel-slide-left, .carousel-slide-right {
    width: 30px;
	height: 25px;
    border: none;
}
.carousel-slide-left button, .carousel-slide-right button {
    display: block;
	width: 100%;
	height: 100%;
    cursor: pointer;
}
.carousel-slide-left button[disabled], .carousel-slide-right button[disabled] {
    cursor: default;
}

.carousel-slide-right {
    float: right;
}
.carousel-slide-left {
    float: left;
}

.vertical .carousel-slide-right, .vertical .carousel-slide-left {
	float: none;
}

/* Pagination */

.pagination {
	display: inline-block;
	width: 24px;
	height: 24px;
}
.pagination-carousel .active {
	border: 1px solid orange !important;
}
.pagination-carousel .well {
	display: inline-block;
	width: 24px;
	height: 23px;
	padding: 0px;
}
.pagination-carousel .clickable {
	width: 24px;
}

/* Loader */

#ajax-loader {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 2px 8px;
	box-shadow: 0px 0px 10px 1px #4C99D8;
	z-index: 500;
}

.btn-loader-ajax + img , .btn-loader + img { vertical-align: middle; }

.pagination-conteneur .loader {display: block; margin: auto;}

.icon-progress {
	animation: loader-css 1s linear infinite;
	-webkit-animation: loader-css 1s linear infinite; /* Safari and Chrome */
	transform-origin: 47% 53%;/*43% 54%;*//*44% 47%;*/
	display: inline-block;
}
/* si uniquement icon-progress */
.icon-progress:before {
	content: "0";
}

@keyframes loader-css {
	/*from {
	   transform: rotate(0deg);
	}
	to {
	   transform: rotate(360deg);
	}*/
	0%   {transform: rotate(0deg)}
	12.4999%   {transform: rotate(0deg)}
	12.5%  {transform: rotate(45deg)}
	24.9999%  {transform: rotate(45deg)}
	25%  {transform: rotate(90deg)}
	37.4999%  {transform: rotate(90deg)}
	37.5%  {transform: rotate(135deg)}
	49.9999%  {transform: rotate(135deg)}
	50% {transform: rotate(180deg)}
	62.4999% {transform: rotate(180deg)}
	62.5% {transform: rotate(225deg)}
	74.9999% {transform: rotate(225deg)}
	75% {transform: rotate(270deg)}
	87.4999% {transform: rotate(270deg)}
	87.5% {transform: rotate(315deg)}
	99.999% {transform: rotate(315deg)}
}


@-webkit-keyframes loader-css { /* Safari and Chrome */
	0%   {transform: rotate(0deg)}
	12.4999%   {transform: rotate(0deg)}
	12.5%  {transform: rotate(45deg)}
	24.9999%  {transform: rotate(45deg)}
	25%  {transform: rotate(90deg)}
	37.4999%  {transform: rotate(90deg)}
	37.5%  {transform: rotate(135deg)}
	49.9999%  {transform: rotate(135deg)}
	50% {transform: rotate(180deg)}
	62.4999% {transform: rotate(180deg)}
	62.5% {transform: rotate(225deg)}
	74.9999% {transform: rotate(225deg)}
	75% {transform: rotate(270deg)}
	87.4999% {transform: rotate(270deg)}
	87.5% {transform: rotate(315deg)}
	99.999% {transform: rotate(315deg)}
}


/* Firefox fix */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
    padding: 0;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #AAAAAA;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #AAAAAA;
}

/*
 *	Override Jquery UI
 */
.btn .ui-icon {
	vertical-align: top;
	display: inline-block;
}

.ui-icon {
	display: inline-block;
	vertical-align: top;
}
.clickable .ui-icon {
	vertical-align: text-top;
}

input.ui-button, .ui-button-text-only .ui-button-text {
    padding: 3px 10px;
	line-height: 16px;
}

.ui-buttonset {
	@include user-select-none;
}

.ui-button {
	vertical-align: baseline;
}

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
	padding-top: 3px;
	padding-bottom: 3px;
}

/*
 *	Override Fontello
 */
[class^="icon-"]:before,
[class*=" icon-"]:before {
	cursor: default;
}
a [class^="icon-"]:before, a[class^="icon-"]:before,
a [class*=" icon-"]:before, a[class*=" icon-"]:before {
	cursor: pointer;
}