/**
 * Bootstrap v2.0.4
 * Copyright 2012 Twitter, Inc
*/
p {
	margin: 0 0 9px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: bold;
	text-rendering: optimizelegibility;
}

h1 {
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 4px;
}
h2 {
	font-size: 24px;
	line-height: 36px;
}
h3 {
	font-size: 18px;
	line-height: 27px;
}
h4,
h5,
h6 {
	line-height: 18px;
}
h4 {
	font-size: 14px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 11px;
	color: #999999;
	text-transform: uppercase;
}
dl {
	margin-bottom: 18px;
}
dt,
dd {
	line-height: 18px;
}
dt {
	font-weight: bold;
	line-height: 17px;
}
dd {
	margin-left: 9px;
}
.dl-horizontal dt {
	float: left;
	width: 120px;
	clear: left;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dl-horizontal dd {
	margin-left: 130px;
}
hr {
	margin: 18px 0;
	border: 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
abbr[title] {
	cursor: help;
	border-bottom: 1px dotted #999999;
}
abbr.initialism {
	font-size: 90%;
	text-transform: uppercase;
}
blockquote {
	padding: 0 0 0 15px;
	margin: 0 0 18px;
	border-left: 5px solid #eeeeee;
}
blockquote p {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 300;
	line-height: 22.5px;
}
blockquote small {
	display: block;
	line-height: 18px;
	color: #999999;
}
blockquote small:before {
	content: '\2014 \00A0';
}
blockquote.pull-right {
	float: right;
	padding-right: 15px;
	padding-left: 0;
	border-right: 5px solid #eeeeee;
	border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
	text-align: right;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
}
address {
	display: block;
	margin-bottom: 18px;
	font-style: normal;
	line-height: 18px;
}
cite {
	font-style: normal;
}
code,
pre {
	padding: 0 3px 2px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 12px;
	color: #333333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
code {
	padding: 2px 4px;
	color: #d14;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	vertical-align: middle;
}
pre {
	display: block;
	padding: 8.5px;
	margin: 0 0 9px;
	font-size: 12.025px;
	line-height: 18px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
pre code {
	padding: 0;
	color: inherit;
	background-color: transparent;
	border: 0;
}

table {
	border-collapse: collapse;
	border: 1px solid #C0C0C0;
	border-bottom: none;
}

thead, tfoot {
	background-color: #DEDEDE;
}

tr {
	border: 1px solid #C0C0C0;
}

td, th {
	padding: 2px 3px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 4px;
	/*margin-bottom: 9px;*/
	font-size: 13px;
	line-height: 18px;
	color: #555555;
	vertical-align: middle;
}

.form-vertical select,
.form-vertical textarea,
.form-vertical input[type="text"],
.form-vertical input[type="password"],
.form-vertical input[type="datetime"],
.form-vertical input[type="datetime-local"],
.form-vertical input[type="date"],
.form-vertical input[type="month"],
.form-vertical input[type="time"],
.form-vertical input[type="week"],
.form-vertical input[type="number"],
.form-vertical input[type="email"],
.form-vertical input[type="url"],
.form-vertical input[type="search"],
.form-vertical input[type="tel"],
.form-vertical input[type="color"] {
	width: 96%;
}

.form-horizontal select,
.form-horizontal textarea,
.form-horizontal input[type="text"],
.form-horizontal input[type="password"],
.form-horizontal input[type="datetime"],
.form-horizontal input[type="datetime-local"],
.form-horizontal input[type="date"],
.form-horizontal input[type="month"],
.form-horizontal input[type="time"],
.form-horizontal input[type="week"],
.form-horizontal input[type="number"],
.form-horizontal input[type="email"],
.form-horizontal input[type="url"],
.form-horizontal input[type="search"],
.form-horizontal input[type="tel"],
.form-horizontal input[type="color"] {
	width: 30%;
}

.form-inline select,
.form-inline textarea,
.form-inline input[type="text"],
.form-inline input[type="password"],
.form-inline input[type="datetime"],
.form-inline input[type="datetime-local"],
.form-inline input[type="date"],
.form-inline input[type="month"],
.form-inline input[type="time"],
.form-inline input[type="week"],
.form-inline input[type="number"],
.form-inline input[type="email"],
.form-inline input[type="url"],
.form-inline input[type="search"],
.form-inline input[type="tel"],
.form-inline input[type="color"] {
	width: auto;
}

/*input,
textarea {
	width: 210px;
}*/

textarea {
	height: auto;
	max-width: 98%;
}

.textarea-countdown-text {
	color: #777777;
	*color: #BBBBBB;
	opacity: 0.8;
	font-size: 85%;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	height: 16px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: rgba(255, 168, 0, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 8px 1px rgba(255, 168, 0, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 8px 1px rgba(255, 168, 0, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 8px 1px rgba(255, 168, 0, 0.6);

}

input[type="radio"],
input[type="checkbox"] {
	margin: 3px 0;
	*margin-top: 0;
	line-height: normal;
	vertical-align: middle;
}

.input-prepend,
.input-append {
	margin-bottom: 5px;
	display: inline-block;
}

.input-prepend input,
.input-append input,
.input-prepend select,
.input-append select,
.input-prepend .uneditable-input,
.input-append .uneditable-input {
	position: relative;
	vertical-align: top;
	margin-bottom: 0;
	*margin-left: 0;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.input-prepend input:focus,
.input-append input:focus,
.input-prepend select:focus,
.input-append select:focus,
.input-prepend .uneditable-input:focus,
.input-append .uneditable-input:focus {
	z-index: 2;
}

.input-prepend .uneditable-input,
.input-append .uneditable-input {
	border-left-color: #ccc;
}

.input-prepend .add-on,
.input-append .add-on {
	display: inline-block;
	width: auto;
	min-width: 16px;
	/*line-height: 16px;*/
	/*padding: 4px 5px 4px;*/
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	background-color: #eeeeee;
	border: 1px solid #ccc;
}

.input-prepend .add-on,
.input-append .add-on {
	margin-left: -1px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.input-prepend span.add-on,
.input-append span.add-on{
	height: 22px;
	/*line-height: 19px;*/
	padding: 1px 5px;
	vertical-align: middle;
}

.input-prepend .active,
.input-append .active {
	background-color: #a9dba9;
	border-color: #46a546;
}

.input-prepend .add-on {
	margin-right: -1px;
}

.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.input-append input,
.input-append select,
.input-append .uneditable-input {
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.input-append .uneditable-input {
	border-right-color: #ccc;
	border-left-color: #eee;
}

.input-append .add-on:last-child,
.input-append .btn:last-child {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
	margin-right: -1px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
	margin-left: -1px;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.add-on.ui-button {
	height: 26px;
}

.add-on {
	vertical-align: middle;
	line-height: 22px;
}

.pre-scrollable {
	max-height: 340px;
	overflow-y: scroll;
}

.clearfix {
	*zoom: 1;
}
.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
}
.clearfix:after {
	clear: both;
}

.row {
	margin-left: -20px;
	*zoom: 1;
}
.row:before,
.row:after {
	display: table;
	content: "";
}
.row:after {
	clear: both;
}
[class*="span"] {
	float: left;
	margin-left: 20px;
}
.container {
	width: 940px;
	margin: auto;
}
.span12 {
	width: 940px;
}
.span11 {
	width: 860px;
}
.span10 {
	width: 780px;
}
.span9 {
	width: 700px;
}
.span8 {
	width: 620px;
}
.span7 {
	width: 540px;
}
.span6 {
	width: 460px;
}
.span5 {
	width: 380px;
}
.span4 {
	width: 300px;
}
.span3 {
	width: 220px;
}
.span2 {
	width: 140px;
}
.span1 {
	width: 60px;
}
.offset12 {
	margin-left: 980px;
}
.offset11 {
	margin-left: 900px;
}
.offset10 {
	margin-left: 820px;
}
.offset9 {
	margin-left: 740px;
}
.offset8 {
	margin-left: 660px;
}
.offset7 {
	margin-left: 580px;
}
.offset6 {
	margin-left: 500px;
}
.offset5 {
	margin-left: 420px;
}
.offset4 {
	margin-left: 340px;
}
.offset3 {
	margin-left: 260px;
}
.offset2 {
	margin-left: 180px;
}
.offset1 {
	margin-left: 100px;
}
.row-fluid {
	width: 100%;
	*zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
	display: table;
	content: "";
}
.row-fluid:after {
	clear: both;
}
.row-fluid [class*="span"] {
	display: block;
	width: 100%;
	min-height: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-left: 2.127659574%;
	*margin-left: 2.0744680846382977%;
}
.row-fluid [class*="span"]:first-child {
	margin-left: 0;
}
.row-fluid table[class*="span"] {
	display: table;
}
.row-fluid .span12 {
	width: 100%;
	*width: 99.94680851063829%;
}
.row-fluid .span11 {
	width: 91.45299145299145%;
	*width: 91.39979996362975%;
}
.row-fluid .span10 {
	width: 82.90598290598291%;
	*width: 82.8527914166212%;
}
.row-fluid .span9 {
	width: 74.35897435897436%;
	*width: 74.30578286961266%;
}
.row-fluid .span8 {
	width: 65.81196581196582%;
	*width: 65.75877432260411%;
}
.row-fluid .span7 {
	width: 57.26495726495726%;
	*width: 57.21176577559556%;
}
.row-fluid .span6 {
	width: 48.717948717948715%;
	*width: 48.664757228587014%;
}
.row-fluid .span5 {
	width: 40.17094017094017%;
	*width: 40.11774868157847%;
}
.row-fluid .span4 {
	width: 31.623931623931625%;
	*width: 31.570740134569924%;
}
.row-fluid .span3 {
	width: 23.076923076923077%;
	*width: 23.023731587561375%;
}
.row-fluid .span2 {
	width: 14.52991452991453%;
	*width: 14.476723040552828%;
}
.row-fluid .span1 {
	width: 5.982905982905983%;
	*width: 5.929714493544281%;
}
.row-fluid .offset12 {
	margin-left: 105.12820512820512%;
	*margin-left: 105.02182214948171%;
}
.row-fluid .offset12:first-child {
	margin-left: 102.56410256410257%;
	*margin-left: 102.45771958537915%;
}
.row-fluid .offset11 {
	margin-left: 96.58119658119658%;
	*margin-left: 96.47481360247316%;
}
.row-fluid .offset11:first-child {
	margin-left: 94.01709401709402%;
	*margin-left: 93.91071103837061%;
}
.row-fluid .offset10 {
	margin-left: 88.03418803418803%;
	*margin-left: 87.92780505546462%;
}
.row-fluid .offset10:first-child {
	margin-left: 85.47008547008548%;
	*margin-left: 85.36370249136206%;
}
.row-fluid .offset9 {
	margin-left: 79.48717948717949%;
	*margin-left: 79.38079650845607%;
}
.row-fluid .offset9:first-child {
	margin-left: 76.92307692307693%;
	*margin-left: 76.81669394435352%;
}
.row-fluid .offset8 {
	margin-left: 70.94017094017094%;
	*margin-left: 70.83378796144753%;
}
.row-fluid .offset8:first-child {
	margin-left: 68.37606837606839%;
	*margin-left: 68.26968539734497%;
}
.row-fluid .offset7 {
	margin-left: 62.393162393162385%;
	*margin-left: 62.28677941443899%;
}
.row-fluid .offset7:first-child {
	margin-left: 59.82905982905982%;
	*margin-left: 59.72267685033642%;
}
.row-fluid .offset6 {
	margin-left: 53.84615384615384%;
	*margin-left: 53.739770867430444%;
}
.row-fluid .offset6:first-child {
	margin-left: 51.28205128205128%;
	*margin-left: 51.175668303327875%;
}
.row-fluid .offset5 {
	margin-left: 45.299145299145295%;
	*margin-left: 45.1927623204219%;
}
.row-fluid .offset5:first-child {
	margin-left: 42.73504273504273%;
	*margin-left: 42.62865975631933%;
}
.row-fluid .offset4 {
	margin-left: 36.75213675213675%;
	*margin-left: 36.645753773413354%;
}
.row-fluid .offset4:first-child {
	margin-left: 34.18803418803419%;
	*margin-left: 34.081651209310785%;
}
.row-fluid .offset3 {
	margin-left: 28.205128205128204%;
	*margin-left: 28.0987452264048%;
}
.row-fluid .offset3:first-child {
	margin-left: 25.641025641025642%;
	*margin-left: 25.53464266230224%;
}
.row-fluid .offset2 {
	margin-left: 19.65811965811966%;
	*margin-left: 19.551736679396257%;
}
.row-fluid .offset2:first-child {
	margin-left: 17.094017094017094%;
	*margin-left: 16.98763411529369%;
}
.row-fluid .offset1 {
	margin-left: 11.11111111111111%;
	*margin-left: 11.004728132387708%;
}
.row-fluid .offset1:first-child {
	margin-left: 8.547008547008547%;
	*margin-left: 8.440625568285142%;
}

.hidden {
	display: none;
	visibility: hidden;
}
.visible-phone {
	display: none !important;
}
.visible-tablet {
	display: none !important;
}
.hidden-desktop {
	display: none !important;
}
@media (max-width: 767px) {
	.visible-phone {
		display: inherit !important;
	}
	.hidden-phone {
		display: none !important;
	}
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.visible-tablet {
		display: inherit !important;
	}
	.hidden-tablet {
		display: none !important;
	}
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important ;
	}
}
@media (max-width: 480px) {
	input[type="checkbox"],
	input[type="radio"] {
		border: 1px solid #ccc;
	}
}
@media (max-width: 767px) {
	body {
		padding-left: 20px;
		padding-right: 20px;
	}
	.dl-horizontal dt {
		float: none;
		clear: none;
		width: auto;
		text-align: left;
	}
	.dl-horizontal dd {
		margin-left: 0;
	}
	.container-fluid {
		padding: 0;
	}
	.container {
		width: auto;
	}
	.row-fluid {
		width: 100%;
	}
	.row {
		margin-left: 0;
	}
	[class*="span"],
	.row-fluid [class*="span"] {
		float: none;
		display: block;
		width: auto;
		margin-left: 0;
	}
	input[class*="span"],
	select[class*="span"],
	textarea[class*="span"] {
		display: block;
		width: 100%;
		min-height: 28px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.row {
		margin-left: -20px;
		*zoom: 1;
	}
	.row:before,
	.row:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row:after {
		clear: both;
	}
	[class*="span"] {
		float: left;
		min-height: 1px;
		margin-left: 20px;
	}
	.container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container {
		width: 724px;
	}
	.span12 {
		width: 724px;
	}
	.span11 {
		width: 662px;
	}
	.span10 {
		width: 600px;
	}
	.span9 {
		width: 538px;
	}
	.span8 {
		width: 476px;
	}
	.span7 {
		width: 414px;
	}
	.span6 {
		width: 352px;
	}
	.span5 {
		width: 290px;
	}
	.span4 {
		width: 228px;
	}
	.span3 {
		width: 166px;
	}
	.span2 {
		width: 104px;
	}
	.span1 {
		width: 42px;
	}
	.offset12 {
		margin-left: 764px;
	}
	.offset11 {
		margin-left: 702px;
	}
	.offset10 {
		margin-left: 640px;
	}
	.offset9 {
		margin-left: 578px;
	}
	.offset8 {
		margin-left: 516px;
	}
	.offset7 {
		margin-left: 454px;
	}
	.offset6 {
		margin-left: 392px;
	}
	.offset5 {
		margin-left: 330px;
	}
	.offset4 {
		margin-left: 268px;
	}
	.offset3 {
		margin-left: 206px;
	}
	.offset2 {
		margin-left: 144px;
	}
	.offset1 {
		margin-left: 82px;
	}
	.row-fluid {
		width: 100%;
		*zoom: 1;
	}
	.row-fluid:before,
	.row-fluid:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row-fluid:after {
		clear: both;
	}
	.row-fluid [class*="span"] {
		display: block;
		width: 100%;
		min-height: 30px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2.7624309392265194%;
		*margin-left: 2.709239449864817%;
	}
	.row-fluid [class*="span"]:first-child {
		margin-left: 0;
	}
	.row-fluid .span12 {
		width: 100%;
		*width: 99.94680851063829%;
	}
	.row-fluid .span11 {
		width: 91.43646408839778%;
		*width: 91.38327259903608%;
	}
	.row-fluid .span10 {
		width: 82.87292817679558%;
		*width: 82.81973668743387%;
	}
	.row-fluid .span9 {
		width: 74.30939226519337%;
		*width: 74.25620077583166%;
	}
	.row-fluid .span8 {
		width: 65.74585635359117%;
		*width: 65.69266486422946%;
	}
	.row-fluid .span7 {
		width: 57.18232044198895%;
		*width: 57.12912895262725%;
	}
	.row-fluid .span6 {
		width: 48.61878453038674%;
		*width: 48.56559304102504%;
	}
	.row-fluid .span5 {
		width: 40.05524861878453%;
		*width: 40.00205712942283%;
	}
	.row-fluid .span4 {
		width: 31.491712707182323%;
		*width: 31.43852121782062%;
	}
	.row-fluid .span3 {
		width: 22.92817679558011%;
		*width: 22.87498530621841%;
	}
	.row-fluid .span2 {
		width: 14.3646408839779%;
		*width: 14.311449394616199%;
	}
	.row-fluid .span1 {
		width: 5.801104972375691%;
		*width: 5.747913483013988%;
	}
	.row-fluid .offset12 {
		margin-left: 105.52486187845304%;
		*margin-left: 105.41847889972962%;
	}
	.row-fluid .offset12:first-child {
		margin-left: 102.76243093922652%;
		*margin-left: 102.6560479605031%;
	}
	.row-fluid .offset11 {
		margin-left: 96.96132596685082%;
		*margin-left: 96.8549429881274%;
	}
	.row-fluid .offset11:first-child {
		margin-left: 94.1988950276243%;
		*margin-left: 94.09251204890089%;
	}
	.row-fluid .offset10 {
		margin-left: 88.39779005524862%;
		*margin-left: 88.2914070765252%;
	}
	.row-fluid .offset10:first-child {
		margin-left: 85.6353591160221%;
		*margin-left: 85.52897613729868%;
	}
	.row-fluid .offset9 {
		margin-left: 79.8342541436464%;
		*margin-left: 79.72787116492299%;
	}
	.row-fluid .offset9:first-child {
		margin-left: 77.07182320441989%;
		*margin-left: 76.96544022569647%;
	}
	.row-fluid .offset8 {
		margin-left: 71.2707182320442%;
		*margin-left: 71.16433525332079%;
	}
	.row-fluid .offset8:first-child {
		margin-left: 68.50828729281768%;
		*margin-left: 68.40190431409427%;
	}
	.row-fluid .offset7 {
		margin-left: 62.70718232044199%;
		*margin-left: 62.600799341718584%;
	}
	.row-fluid .offset7:first-child {
		margin-left: 59.94475138121547%;
		*margin-left: 59.838368402492065%;
	}
	.row-fluid .offset6 {
		margin-left: 54.14364640883978%;
		*margin-left: 54.037263430116376%;
	}
	.row-fluid .offset6:first-child {
		margin-left: 51.38121546961326%;
		*margin-left: 51.27483249088986%;
	}
	.row-fluid .offset5 {
		margin-left: 45.58011049723757%;
		*margin-left: 45.47372751851417%;
	}
	.row-fluid .offset5:first-child {
		margin-left: 42.81767955801105%;
		*margin-left: 42.71129657928765%;
	}
	.row-fluid .offset4 {
		margin-left: 37.01657458563536%;
		*margin-left: 36.91019160691196%;
	}
	.row-fluid .offset4:first-child {
		margin-left: 34.25414364640884%;
		*margin-left: 34.14776066768544%;
	}
	.row-fluid .offset3 {
		margin-left: 28.45303867403315%;
		*margin-left: 28.346655695309746%;
	}
	.row-fluid .offset3:first-child {
		margin-left: 25.69060773480663%;
		*margin-left: 25.584224756083227%;
	}
	.row-fluid .offset2 {
		margin-left: 19.88950276243094%;
		*margin-left: 19.783119783707537%;
	}
	.row-fluid .offset2:first-child {
		margin-left: 17.12707182320442%;
		*margin-left: 17.02068884448102%;
	}
	.row-fluid .offset1 {
		margin-left: 11.32596685082873%;
		*margin-left: 11.219583872105325%;
	}
	.row-fluid .offset1:first-child {
		margin-left: 8.56353591160221%;
		*margin-left: 8.457152932878806%;
	}

	input,
	textarea,
	.uneditable-input {
		margin-left: 0;
	}
	input.span12, textarea.span12, .uneditable-input.span12 {
		width: 714px;
	}
	input.span11, textarea.span11, .uneditable-input.span11 {
		width: 652px;
	}
	input.span10, textarea.span10, .uneditable-input.span10 {
		width: 590px;
	}
	input.span9, textarea.span9, .uneditable-input.span9 {
		width: 528px;
	}
	input.span8, textarea.span8, .uneditable-input.span8 {
		width: 466px;
	}
	input.span7, textarea.span7, .uneditable-input.span7 {
		width: 404px;
	}
	input.span6, textarea.span6, .uneditable-input.span6 {
		width: 342px;
	}
	input.span5, textarea.span5, .uneditable-input.span5 {
		width: 280px;
	}
	input.span4, textarea.span4, .uneditable-input.span4 {
		width: 218px;
	}
	input.span3, textarea.span3, .uneditable-input.span3 {
		width: 156px;
	}
	input.span2, textarea.span2, .uneditable-input.span2 {
		width: 94px;
	}
	input.span1, textarea.span1, .uneditable-input.span1 {
		width: 32px;
	}
}
@media (min-width: 1200px) {
	.row {
		margin-left: -30px;
		*zoom: 1;
	}
	.row:before,
	.row:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row:after {
		clear: both;
	}
	[class*="span"] {
		float: left;
		min-height: 1px;
		margin-left: 30px;
	}
	.container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container {
		width: 1170px;
	}
	.span12 {
		width: 1170px;
	}
	.span11 {
		width: 1070px;
	}
	.span10 {
		width: 970px;
	}
	.span9 {
		width: 870px;
	}
	.span8 {
		width: 770px;
	}
	.span7 {
		width: 670px;
	}
	.span6 {
		width: 570px;
	}
	.span5 {
		width: 470px;
	}
	.span4 {
		width: 370px;
	}
	.span3 {
		width: 270px;
	}
	.span2 {
		width: 170px;
	}
	.span1 {
		width: 70px;
	}
	.offset12 {
		margin-left: 1230px;
	}
	.offset11 {
		margin-left: 1130px;
	}
	.offset10 {
		margin-left: 1030px;
	}
	.offset9 {
		margin-left: 930px;
	}
	.offset8 {
		margin-left: 830px;
	}
	.offset7 {
		margin-left: 730px;
	}
	.offset6 {
		margin-left: 630px;
	}
	.offset5 {
		margin-left: 530px;
	}
	.offset4 {
		margin-left: 430px;
	}
	.offset3 {
		margin-left: 330px;
	}
	.offset2 {
		margin-left: 230px;
	}
	.offset1 {
		margin-left: 130px;
	}
	.row-fluid {
		width: 100%;
		*zoom: 1;
	}
	.row-fluid:before,
	.row-fluid:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row-fluid:after {
		clear: both;
	}
	.row-fluid [class*="span"] {
		display: block;
		width: 100%;
		min-height: 30px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2.564102564102564%;
		*margin-left: 2.5109110747408616%;
	}
	.row-fluid [class*="span"]:first-child {
		margin-left: 0;
	}
	.row-fluid .span12 {
		width: 100%;
		*width: 99.94680851063829%;
	}
	.row-fluid .span11 {
		width: 91.45299145299145%;
		*width: 91.39979996362975%;
	}
	.row-fluid .span10 {
		width: 82.90598290598291%;
		*width: 82.8527914166212%;
	}
	.row-fluid .span9 {
		width: 74.35897435897436%;
		*width: 74.30578286961266%;
	}
	.row-fluid .span8 {
		width: 65.81196581196582%;
		*width: 65.75877432260411%;
	}
	.row-fluid .span7 {
		width: 57.26495726495726%;
		*width: 57.21176577559556%;
	}
	.row-fluid .span6 {
		width: 48.717948717948715%;
		*width: 48.664757228587014%;
	}
	.row-fluid .span5 {
		width: 40.17094017094017%;
		*width: 40.11774868157847%;
	}
	.row-fluid .span4 {
		width: 31.623931623931625%;
		*width: 31.570740134569924%;
	}
	.row-fluid .span3 {
		width: 23.076923076923077%;
		*width: 23.023731587561375%;
	}
	.row-fluid .span2 {
		width: 14.52991452991453%;
		*width: 14.476723040552828%;
	}
	.row-fluid .span1 {
		width: 5.982905982905983%;
		*width: 5.929714493544281%;
	}
	.row-fluid .offset12 {
		margin-left: 105.12820512820512%;
		*margin-left: 105.02182214948171%;
	}
	.row-fluid .offset12:first-child {
		margin-left: 102.56410256410257%;
		*margin-left: 102.45771958537915%;
	}
	.row-fluid .offset11 {
		margin-left: 96.58119658119658%;
		*margin-left: 96.47481360247316%;
	}
	.row-fluid .offset11:first-child {
		margin-left: 94.01709401709402%;
		*margin-left: 93.91071103837061%;
	}
	.row-fluid .offset10 {
		margin-left: 88.03418803418803%;
		*margin-left: 87.92780505546462%;
	}
	.row-fluid .offset10:first-child {
		margin-left: 85.47008547008548%;
		*margin-left: 85.36370249136206%;
	}
	.row-fluid .offset9 {
		margin-left: 79.48717948717949%;
		*margin-left: 79.38079650845607%;
	}
	.row-fluid .offset9:first-child {
		margin-left: 76.92307692307693%;
		*margin-left: 76.81669394435352%;
	}
	.row-fluid .offset8 {
		margin-left: 70.94017094017094%;
		*margin-left: 70.83378796144753%;
	}
	.row-fluid .offset8:first-child {
		margin-left: 68.37606837606839%;
		*margin-left: 68.26968539734497%;
	}
	.row-fluid .offset7 {
		margin-left: 62.393162393162385%;
		*margin-left: 62.28677941443899%;
	}
	.row-fluid .offset7:first-child {
		margin-left: 59.82905982905982%;
		*margin-left: 59.72267685033642%;
	}
	.row-fluid .offset6 {
		margin-left: 53.84615384615384%;
		*margin-left: 53.739770867430444%;
	}
	.row-fluid .offset6:first-child {
		margin-left: 51.28205128205128%;
		*margin-left: 51.175668303327875%;
	}
	.row-fluid .offset5 {
		margin-left: 45.299145299145295%;
		*margin-left: 45.1927623204219%;
	}
	.row-fluid .offset5:first-child {
		margin-left: 42.73504273504273%;
		*margin-left: 42.62865975631933%;
	}
	.row-fluid .offset4 {
		margin-left: 36.75213675213675%;
		*margin-left: 36.645753773413354%;
	}
	.row-fluid .offset4:first-child {
		margin-left: 34.18803418803419%;
		*margin-left: 34.081651209310785%;
	}
	.row-fluid .offset3 {
		margin-left: 28.205128205128204%;
		*margin-left: 28.0987452264048%;
	}
	.row-fluid .offset3:first-child {
		margin-left: 25.641025641025642%;
		*margin-left: 25.53464266230224%;
	}
	.row-fluid .offset2 {
		margin-left: 19.65811965811966%;
		*margin-left: 19.551736679396257%;
	}
	.row-fluid .offset2:first-child {
		margin-left: 17.094017094017094%;
		*margin-left: 16.98763411529369%;
	}
	.row-fluid .offset1 {
		margin-left: 11.11111111111111%;
		*margin-left: 11.004728132387708%;
	}
	.row-fluid .offset1:first-child {
		margin-left: 8.547008547008547%;
		*margin-left: 8.440625568285142%;
	}

	input,
	textarea,
	.uneditable-input {
		margin-left: 0;
		vertical-align: middle;
	}
	input.span12, textarea.span12, .uneditable-input.span12 {
		width: 1160px;
	}
	input.span11, textarea.span11, .uneditable-input.span11 {
		width: 1060px;
	}
	input.span10, textarea.span10, .uneditable-input.span10 {
		width: 960px;
	}
	input.span9, textarea.span9, .uneditable-input.span9 {
		width: 860px;
	}
	input.span8, textarea.span8, .uneditable-input.span8 {
		width: 760px;
	}
	input.span7, textarea.span7, .uneditable-input.span7 {
		width: 660px;
	}
	input.span6, textarea.span6, .uneditable-input.span6 {
		width: 560px;
	}
	input.span5, textarea.span5, .uneditable-input.span5 {
		width: 460px;
	}
	input.span4, textarea.span4, .uneditable-input.span4 {
		width: 360px;
	}
	input.span3, textarea.span3, .uneditable-input.span3 {
		width: 260px;
	}
	input.span2, textarea.span2, .uneditable-input.span2 {
		width: 160px;
	}
	input.span1, textarea.span1, .uneditable-input.span1 {
		width: 60px;
	}
}

/*
 * V0.2 Templates !
 *
*/

* {
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
}

body {
	margin: 0;
	font-family: "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #333333;
	background-color: #ffffff;
	height: 100%;
	word-wrap: break-word;
}

a {
	color: #60B4FA; /* Royalblue */
	text-decoration: none;

	-webkit-transition: color .2s ease-out;
	-moz-transition: color .2s ease-out;
	-o-transition: color .2s ease-out;
	transition: color .2s ease-out;
}

a:hover {
	color: #FFB933;
	text-decoration: underline;
}
/*
a.external {
	background: url('../img/external.png') no-repeat scroll right center transparent;
    padding-right: 13px;
}
a.new-tab, a[target=_blank] {
	background: url('../img/new-tab.png') no-repeat scroll right center transparent;
    padding-right: 19px;
}*/

ul {
	list-style: none;
}

form {
	margin: 0 0 18px;
}
form hr {
	margin: -3px 0 9px;
}

.required {
	color: #CD0A0A;
	font-weight: bold;
}

label {
	vertical-align: middle;
	margin-right: 5px;
	color: #777777;
	text-shadow: 0px 0px 1px rgba(0,0,0, 0.15);
}

/* -- Classes styles -- */
.discret { color: #E3E3E3 !important; }

.small { font-size: 0.80em; }
.big { font-size: 1.2em; }

.bold { font-weight: bold; }
.italic { font-style: italic; }

/* -- Classes d'aide -- */

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }

.float-right { float: right; }
.float-left { float: left; }

.clear { clear: both; }

.no-padding { padding: 0 !important; }
.no-margin { margin: 0 !important; }

.hide, .hide-begin { display: none; } /* hide-begin: caché au départ pour un affiche plus tard */
.show { display: block; }

.pointer {cursor: pointer;}

/* -- CSS principal -- */

a.btn:hover {
	color: #FFFFFF;
}
a.btn:focus, a.btn:active {
	color: #000000;
}

.container {
	/*-moz-box-shadow: 0px 0px 10px -1px #656565;
	-webkit-box-shadow: 0px 0px 10px -1px #656565;
	box-shadow: 0px 0px 10px -1px #656565;*/
}

/* Colors :
black:	#000000;
white:	#FFFFFF;
grey:	#C0C0C0; (silver)
red:	#FF0000; (red)
orange:	#FFA500;
yellow:	#FFD100; (gold)
green:	#228B22: (forestgreen)
blue:	#4169E1: (royalblue)
violet:	#9932CC: (darkorchid)
pink:	#FFB6C1: (lightpink)
------------------------------- */

.grey {
	color: #696969 !important;
}
.black {
	color: #000000 !important;
}
.white {
	color: #FFFFFF !important;
}
.red {
	color: #CD0A0A !important;
}
.orange {
	color: #FF8C00 !important;
}
.yellow {
	color: #FFD100 !important;
}
.green {
	color: #228B22 !important;
}
.blue {
	color: #4169E1 !important;
}
.violet {
	color: #9932CC !important;
}
.pink {
	color: #FF69B4 !important;
}


a.grey:hover {
	color: #F5F5F5 !important;
}
a.black:hover {
	color: #999999 !important;
}
a.white:hover {
	color: #999999 !important;
}
a.red:hover {
	color: #FEF1EC !important;
}
a.orange:hover {
	color: #FFF7E3 !important;
}
a.yellow:hover {
	color: #FFFF99 !important;
}
a.green:hover {
	color: #EBFFE4 !important;
}
a.blue:hover {
	color: #F0F8FF !important;
}
a.violet:hover {
	color: #feeeff !important;
}
a.pink:hover {
	color: #FFF8F9 !important;
}

/* well */
.well {
	border: 1px solid #C0C0C0;
	background-color: #F5F5F5;
	display: block;
	padding: 2px 6px 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    word-wrap: break-word;
}
.well.grey {
	border: 1px solid #696969;
	background-color: #F5F5F5;
	color: #696969;
}
.well.black {
	border: 1px solid #C0C0C0;
	background-color: #000000;
	color: #FFFFFF !important;
}
.well.white {
	border: 1px solid #C0C0C0;
	background-color: #FFFFFF;
	color: #333333 !important;
}
.well.red {
	border: 1px solid #CD0A0A;
	background-color: #FEF1EC;
	color: #CD0A0A;
}
.well.orange {
	border: 1px solid #FF8C00;
	background-color: #FFF7E3;
	color: #FF8C00;
}
.well.yellow {
	border: 1px solid #FFD100;
	background-color: #FFFFFF;
	color: #FFD100;
}
.well.green {
	border: 1px solid #228B22;
	background-color: #EBFFE4 ;
	color: #228B22;
}
.well.blue {
	border: 1px solid #4169E1;
	background-color: #F0F8FF;
	color: #4169E1;
}
.well.violet {
	border: 1px solid #9932CC;
	background-color: #feeeff;
	color: #9932CC;
}
.well.pink {
	border: 1px solid #FF69B4;
	background-color: #FFF8F9;
	color: #FF69B4;
}

/* Form */

form.well, .well form {
}

form.well p, .well form p {
	padding: 0 5px;
}

.form-horizontal label, .form-inline label {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 60%;
	text-align: right;
	padding-right: 4px;
}

.form-vertical label {
	display: block;
	text-align: left;
	padding-right: 4px;
}

.form-inline label {
	width: auto;
	text-align: left;
}

/* Table */

table.bordered { border-right: none; }
.bordered td,.bordered th {
	border-right: 1px solid #C0C0C0;
}

table.stripped tbody tr:nth-child(even) {
	background-color: #EEEEEE;
}

table.separate {
	border: 1px solid #C0C0C0;
	border-collapse: separate;
}
table.no-border, table.no-border td, table.no-border th, table.no-border tr {
	border: none;
}



/* icons */
.icon-grey, .grey .ui-icon {
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-grey.png');
}
.icon-black, .white .ui-icon { /* inversion */
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-black.png');
}
.icon-white, .black .ui-icon { /* inversion */
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-white.png');
}
.icon-red, .red .ui-icon {
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-red.png');
}
.icon-orange, .orange .ui-icon {
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-orange.png');
}
.icon-yellow, .yellow .ui-icon {
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-yellow.png');
}
.icon-green, .green .ui-icon {
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-green.png');
}
.icon-blue, .blue .ui-icon {
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-blue.png');
}
.icon-violet, .violet .ui-icon {
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-violet.png');
}
.icon-pink, .pink .ui-icon {
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-pink.png');
}


.icon-success, .success .ui-icon {
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-success.png');
}
.icon-error, .error .ui-icon {
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-error.png');
}
.icon-highlight, .highlight .ui-icon {
	width: 16px; height: 16px;
	background-image: url('ui/images/ui-icons-highlight.png');
}


/* shadow */
.shadow-outset, .shadow-hover:hover {
	-moz-box-shadow: 0px 0px 10px -1px #656565;
	-webkit-box-shadow: 0px 0px 10px -1px #656565;
	box-shadow: 0px 0px 10px -1px #656565;
}
.shadow-inset {
	-moz-box-shadow: inset 0px 0px 5px 0px #656565;
	-webkit-box-shadow: inset 0px 0px 5px 0px #656565;
	box-shadow: inset 0px 0px 5px 0px #656565;
}
.shadow-outset.grey, .grey.shadow-hover:hover {
	-moz-box-shadow: 0px 0px 10px -1px #696969;
	-webkit-box-shadow: 0px 0px 10px -1px #696969;
	box-shadow: 0px 0px 10px -1px #696969;
}
.shadow-inset.grey {
	-moz-box-shadow: inset 0px 0px 5px 0px #696969;
	-webkit-box-shadow: inset 0px 0px 5px 0px #696969;
	box-shadow: inset 0px 0px 5px 0px #696969;
}
.shadow-outset.black, .black.shadow-hover:hover {
	-moz-box-shadow: 0px 0px 10px -1px #FFFFFF;
	-webkit-box-shadow: 0px 0px 10px -1px #FFFFFF;
	box-shadow: 0px 0px 10px -1px #FFFFFF;
}
.shadow-inset.black {
	-moz-box-shadow: inset 0px 0px 5px 0px #FFFFFF;
	-webkit-box-shadow: inset 0px 0px 5px 0px #FFFFFF;
	box-shadow: inset 0px 0px 5px 0px #FFFFFF;
}
.shadow-outset.white, .white.shadow-hover:hover {
	-moz-box-shadow: 0px 0px 10px -1px #000000;
	-webkit-box-shadow: 0px 0px 10px -1px #000000;
	box-shadow: 0px 0px 10px -1px #000000;
}
.shadow-inset.white {
	-moz-box-shadow: inset 0px 0px 5px 0px #000000;
	-webkit-box-shadow: inset 0px 0px 5px 0px #000000;
	box-shadow: inset 0px 0px 5px 0px #000000;
}
.shadow-outset.red, .red.shadow-hover:hover {
	-moz-box-shadow: 0px 0px 10px -1px #CD0A0A;
	-webkit-box-shadow: 0px 0px 10px -1px #CD0A0A;
	box-shadow: 0px 0px 10px -1px #CD0A0A;
}
.shadow-inset.red {
	-moz-box-shadow: inset 0px 0px 5px 0px #CD0A0A;
	-webkit-box-shadow: inset 0px 0px 5px 0px #CD0A0A;
	box-shadow: inset 0px 0px 5px 0px #CD0A0A;
}
.shadow-outset.orange, .orange.shadow-hover:hover {
	-moz-box-shadow: 0px 0px 10px -1px #FF8C00;
	-webkit-box-shadow: 0px 0px 10px -1px #FF8C00;
	box-shadow: 0px 0px 10px -1px #FF8C00;
}
.shadow-inset.orange {
	-moz-box-shadow: inset 0px 0px 5px 0px #FF8C00;
	-webkit-box-shadow: inset 0px 0px 5px 0px #FF8C00;
	box-shadow: inset 0px 0px 5px 0px #FF8C00;
}
.shadow-outset.yellow, .yellow.shadow-hover:hover {
	-moz-box-shadow: 0px 0px 10px -1px #FFD100;
	-webkit-box-shadow: 0px 0px 10px -1px #FFD100;
	box-shadow: 0px 0px 10px -1px #FFD100;
}
.shadow-inset.yellow {
	-moz-box-shadow: inset 0px 0px 5px 0px #FFD100;
	-webkit-box-shadow: inset 0px 0px 5px 0px #FFD100;
	box-shadow: inset 0px 0px 5px 0px #FFD100;
}
.shadow-outset.green, .green.shadow-hover:hover {
	-moz-box-shadow: 0px 0px 10px -1px #228B22;
	-webkit-box-shadow: 0px 0px 10px -1px #228B22;
	box-shadow: 0px 0px 10px -1px #228B22;
}
.shadow-inset.green {
	-moz-box-shadow: inset 0px 0px 5px 0px #228B22;
	-webkit-box-shadow: inset 0px 0px 5px 0px #228B22;
	box-shadow: inset 0px 0px 5px 0px #228B22;
}
.shadow-outset.blue, .blue.shadow-hover:hover {
	-moz-box-shadow: 0px 0px 10px -1px #4169E1;
	-webkit-box-shadow: 0px 0px 10px -1px #4169E1;
	box-shadow: 0px 0px 10px -1px #4169E1;
}
.shadow-inset.blue {
	-moz-box-shadow: inset 0px 0px 5px 0px #4169E1;
	-webkit-box-shadow: inset 0px 0px 5px 0px #4169E1;
	box-shadow: inset 0px 0px 5px 0px #4169E1;
}
.shadow-outset.violet, .violet.shadow-hover:hover {
	-moz-box-shadow: 0px 0px 10px -1px #9932CC;
	-webkit-box-shadow: 0px 0px 10px -1px #9932CC;
	box-shadow: 0px 0px 10px -1px #9932CC;
}
.shadow-inset.violet {
	-moz-box-shadow: inset 0px 0px 5px 0px #9932CC;
	-webkit-box-shadow: inset 0px 0px 5px 0px #9932CC;
	box-shadow: inset 0px 0px 5px 0px #9932CC;
}
.shadow-outset.pink, .pink.shadow-hover:hover {
	-moz-box-shadow: 0px 0px 10px -1px #FF69B4;
	-webkit-box-shadow: 0px 0px 10px -1px #FF69B4;
	box-shadow: 0px 0px 10px -1px #FF69B4;
}
.shadow-inset.pink {
	-moz-box-shadow: inset 0px 0px 5px 0px #FF69B4;
	-webkit-box-shadow: inset 0px 0px 5px 0px #FF69B4;
	box-shadow: inset 0px 0px 5px 0px #FF69B4;
}

/* alert */
.shadow-outset.error, .error.shadow-hover:hover {
	-moz-box-shadow: 0px 0px 10px -1px #CD0A0A;
	-webkit-box-shadow: 0px 0px 10px -1px #CD0A0A;
	box-shadow: 0px 0px 10px -1px #CD0A0A;
}
.shadow-inset.error {
	-moz-box-shadow: inset 0px 0px 5px 0px #CD0A0A;
	-webkit-box-shadow: inset 0px 0px 5px 0px #CD0A0A;
	box-shadow: inset 0px 0px 5px 0px #CD0A0A;
}
.shadow-outset.success, .success.shadow-hover:hover {
	-moz-box-shadow: 0px 0px 10px -1px #228B22;
	-webkit-box-shadow: 0px 0px 10px -1px #228B22;
	box-shadow: 0px 0px 10px -1px #228B22;
}
.shadow-inset.success {
	-moz-box-shadow: inset 0px 0px 5px 0px #228B22;
	-webkit-box-shadow: inset 0px 0px 5px 0px #228B22;
	box-shadow: inset 0px 0px 5px 0px #228B22;
}
.shadow-outset.highlight, .highlight.shadow-hover:hover {
	-moz-box-shadow: 0px 0px 10px -1px #4169E1;
	-webkit-box-shadow: 0px 0px 10px -1px #4169E1;
	box-shadow: 0px 0px 10px -1px #4169E1;
}
.shadow-inset.highlight {
	-moz-box-shadow: inset 0px 0px 5px 0px #4169E1;
	-webkit-box-shadow: inset 0px 0px 5px 0px #4169E1;
	box-shadow: inset 0px 0px 5px 0px #4169E1;
}

.shadow-hover {
	-webkit-transition: border ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
	-moz-transition: border ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
	-ms-transition: border ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
	-o-transition: border ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
	transition: border ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
}

/* fade */
[class*="fade"] {
	-webkit-transition: opacity ease-in-out 0.2s;
	-moz-transition: opacity ease-in-out 0.2s;
	-ms-transition: opacity ease-in-out 0.2s;
	-o-transition: opacity ease-in-out 0.2s;
	transition: opacity ease-in-out 0.2s;
}

.fade-in-hover:hover {
	opacity: 1;
}
.fade-out-hover:hover, .fade {
	opacity: 0.4;
}



/* badge / labels */
.label, .badge {
	font-size: 10px;
	font-weight: bold;
	line-height: 14px;
	color: #ffffff !important;
	vertical-align: baseline;
	white-space: nowrap;
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
	background-color: #999999;
}
.label {
	padding: 1px 4px 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.badge {
	padding: 1px 9px 2px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}

.label.grey, .badge.grey {
	background-color: #696969;
}
.label.black, .badge.black {
	background-color: #000000;
	color: #FFFFFF !important;
}
.label.white, .badge.white {
	background-color: #FFFFFF;
	color: #000000 !important;
	text-shadow: none;
}
.label.red, .badge.red {
	background-color: #CD0A0A;
}
.label.orange, .badge.orange {
	background-color: #FF8C00;
}
.label.yellow, .badge.yellow {
	background-color: #FFD100;
	text-shadow: none;
}
.label.green, .badge.green {
	background-color: #228B22;
}
.label.blue, .badge.blue {
	background-color: #4169E1;
}
.label.violet, .badge.violet {
	background-color: #9932CC;
}
.label.pink, .badge.pink {
	background-color: #FF69B4;
}

.label a, .badge a {
	color: #FFFFFF;
}
.label a.white, .badge a.white {color: #000000 !important;}
.label a:hover, .badge a:hover {
	color: #AAAAAA !important;
	text-shadow: none;
}

a.label:hover,
a.badge:hover {
	color: #ffffff !important;
	text-decoration: none;
	cursor: pointer;
	-moz-box-shadow: 0px 0px 4px 0px #656565;
	-webkit-box-shadow: 0px 0px 4px 0px #656565;
	box-shadow: 0px 0px 4px 0px #656565;

	-webkit-transition: border ease 0.2s, box-shadow ease 0.2s;
	-moz-transition: border ease 0.2s, box-shadow ease 0.2s;
	-ms-transition: border ease 0.2s, box-shadow ease 0.2s;
	-o-transition: border ease 0.2s, box-shadow ease 0.2s;
	transition: border ease 0.2s, box-shadow ease 0.2s;
}
a.label.grey:hover, a.badge.grey:hover {
	-moz-box-shadow: 0px 0px 4px 0px #696969;
	-webkit-box-shadow: 0px 0px 4px 0px #696969;
	box-shadow: 0px 0px 4px 0px #696969;
}
a.label.black:hover, a.badge.black:hover {
	-moz-box-shadow: 0px 0px 4px 0px #000000;
	-webkit-box-shadow: 0px 0px 4px 0px #000000;
	box-shadow: 0px 0px 4px 0px #000000;
}
a.label.white:hover, a.badge.white:hover {
	-moz-box-shadow: 0px 0px 4px 0px #FFFFFF;
	-webkit-box-shadow: 0px 0px 4px 0px #FFFFFF;
	box-shadow: 0px 0px 4px 0px #FFFFFF;
	color: #000000 !important;
}
a.label.red:hover, a.badge.red:hover {
	-moz-box-shadow: 0px 0px 4px 0px #CD0A0A;
	-webkit-box-shadow: 0px 0px 4px 0px #CD0A0A;
	box-shadow: 0px 0px 4px 0px #CD0A0A;
}
a.label.orange:hover, a.badge.orange:hover {
	-moz-box-shadow: 0px 0px 4px 0px #FF8C00;
	-webkit-box-shadow: 0px 0px 4px 0px #FF8C00;
	box-shadow: 0px 0px 4px 0px #FF8C00;
}
a.label.yellow:hover, a.badge.yellow:hover {
	-moz-box-shadow: 0px 0px 4px 0px #FFD100;
	-webkit-box-shadow: 0px 0px 4px 0px #FFD100;
	box-shadow: 0px 0px 4px 0px #FFD100;
}
a.label.green:hover, a.badge.green:hover {
	-moz-box-shadow: 0px 0px 4px 0px #228B22;
	-webkit-box-shadow: 0px 0px 4px 0px #228B22;
	box-shadow: 0px 0px 4px 0px #228B22;
}
a.label.blue:hover, a.badge.blue:hover {
	-moz-box-shadow: 0px 0px 4px 0px #4169E1;
	-webkit-box-shadow: 0px 0px 4px 0px #4169E1;
	box-shadow: 0px 0px 4px 0px #4169E1;
}
a.label.violet:hover, a.badge.violet:hover {
	-moz-box-shadow: 0px 0px 4px 0px #9932CC;
	-webkit-box-shadow: 0px 0px 4px 0px #9932CC;
	box-shadow: 0px 0px 4px 0px #9932CC;
}
a.label.pink:hover, a.badge.pink:hover {
	-moz-box-shadow: 0px 0px 4px 0px #FF69B4;
	-webkit-box-shadow: 0px 0px 4px 0px #FF69B4;
	box-shadow: 0px 0px 4px 0px #FF69B4;
}

/* Success - Error - Highlight */
.success {
	color: #228B22;
}
.error {
	color: #CD0A0A;
}
.highlight {
	color: #4169E1;
}

a.success {
	color: #228B22 !important;
}
a.error {
	color: #CD0A0A !important;
}
a.highlight {
	color: #4169E1 !important;
}
a.success:hover {	color: #EBFFE4 !important;}
a.error:hover {	color: #FEF1EC !important;}
a.highlight:hover { color: #F0F8FF !important;}


.well.success {
	border: 1px solid #228B22;
	background-color: #EBFFE4;
}
.well.error {
	border: 1px solid #CD0A0A;
	background-color: #FEF1EC;
}
.well.highlight {
	border: 1px solid #4169E1;
	background-color: #F0F8FF;
}

.label.success, .badge.success {
	background-color: #228B22;
	color: #FFFFFF !important;
}
.label.error, .badge.error {
	background-color: #CD0A0A;
	color: #FFFFFF !important;
}
.label.highlight, .badge.highlight {
	background-color: #4169E1;
	color: #FFFFFF !important;
}
a.label.success:hover, a.badge.success:hover {
	-moz-box-shadow: 0px 0px 4px 0px #228B22;
	-webkit-box-shadow: 0px 0px 4px 0px #228B22;
	box-shadow: 0px 0px 4px 0px #228B22;
}
a.label.error:hover, a.badge.error:hover {
	-moz-box-shadow: 0px 0px 4px 0px #CD0A0A;
	-webkit-box-shadow: 0px 0px 4px 0px #CD0A0A;
	box-shadow: 0px 0px 4px 0px #CD0A0A;
}
a.label.highlight:hover, a.badge.highlight:hover {
	-moz-box-shadow: 0px 0px 4px 0px #4169E1;
	-webkit-box-shadow: 0px 0px 4px 0px #4169E1;
	box-shadow: 0px 0px 4px 0px #4169E1;
}

input.success, textarea.success {
	border: 1px solid #228B22;
	background-color: #EBFFE4;
	color: #228B22;
}
input.error, textarea.error {
	border: 1px solid #CD0A0A;
	background-color: #FEF1EC;
	color: #CD0A0A;
}
input.highlight, textarea.highlight {
	border: 1px solid #4169E1;
	background-color: #F0F8FF;
	color: #4169E1;
}

input.success:focus, textarea.success:focus {
	border: 1px solid #228B22;
	background-color: #EBFFE4;
	color: #228B22;

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 8px 1px rgba(34, 139, 34, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 8px 1px rgba(34, 139, 34, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 8px 1px rgba(34, 139, 34, 0.6);
}
input.error:focus, textarea.error:focus {
	border: 1px solid #CD0A0A;
	background-color: #FEF1EC;
	color: #CD0A0A;

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 8px 1px rgba(205, 10, 10, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 8px 1px rgba(205, 10, 10, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 8px 1px rgba(205, 10, 10, 0.6);
}
input.highlight:focus, textarea.highlight:focus {
	border: 1px solid #4169E1;
	background-color: #F0F8FF;
	color: #4169E1;

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 8px 1px rgba(65, 105, 225, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 8px 1px rgba(65, 105, 225, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 8px 1px rgba(65, 105, 225, 0.6);
}

/* Clickable */
.clickable {
	padding: 4px 6px;
	border: 1px solid #cccccc;
	color: #555555;
	cursor: pointer;

	background: #f2f2f2;
	background: -moz-linear-gradient(top, #f2f2f2 0%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#cccccc));
	background: -webkit-linear-gradient(top, #f2f2f2 0%,#cccccc 100%);
	background: -o-linear-gradient(top, #f2f2f2 0%,#cccccc 100%);
	background: -ms-linear-gradient(top, #f2f2f2 0%,#cccccc 100%);
	background: linear-gradient(to bottom, #f2f2f2 0%,#cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#cccccc',GradientType=0 );

	-webkit-transition: color .2s ease-out;
	-moz-transition: color .2s ease-out;
	-o-transition: color .2s ease-out;
	transition: color .2s ease-out;
	/* http://www.colorzilla.com/gradient-editor/#bcbcbc+0,e2e2e2+53,fcfff4+100;Custom */
}
.clickable:hover, .clickable:focus {
	border: 1px solid #aaaaaa;

	background: #cccccc;
	background: -moz-radial-gradient(center, ellipse cover, #cccccc 0%, #f2f2f2 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cccccc), color-stop(100%,#f2f2f2));
	background: -webkit-radial-gradient(center, ellipse cover, #cccccc 0%,#f2f2f2 100%);
	background: -o-radial-gradient(center, ellipse cover, #cccccc 0%,#f2f2f2 100%);
	background: -ms-radial-gradient(center, ellipse cover, #cccccc 0%,#f2f2f2 100%);
	background: radial-gradient(ellipse at center, #cccccc 0%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#f2f2f2',GradientType=1 );
}
.clickable:active {
	border: 1px solid #777777;
	padding: 4px 5px 4px 7px; /* effet poussoir */


	background: #cccccc;
	background: -moz-linear-gradient(top, #cccccc 0%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#f2f2f2));
	background: -webkit-linear-gradient(top, #cccccc 0%,#f2f2f2 100%);
	background: -o-linear-gradient(top, #cccccc 0%,#f2f2f2 100%);
	background: -ms-linear-gradient(top, #cccccc 0%,#f2f2f2 100%);
	background: linear-gradient(to bottom, #cccccc 0%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#f2f2f2',GradientType=0 );
}

a.clickable {
	color: #555555;
	line-height: 28px;
}
a.clickable:hover {
	color: #FFFFFF;
}

.clickable.grey {
	background: #F5F5F5;
	background: -moz-linear-gradient(top, #F5F5F5 0%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5F5F5), color-stop(100%,#cccccc));
	background: -webkit-linear-gradient(top, #F5F5F5 0%,#cccccc 100%);
	background: -o-linear-gradient(top, #F5F5F5 0%,#cccccc 100%);
	background: -ms-linear-gradient(top, #F5F5F5 0%,#cccccc 100%);
	background: linear-gradient(to bottom, #F5F5F5 0%,#cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5F5F5', endColorstr='#cccccc',GradientType=0 );
}
.clickable.grey:hover, .clickable.grey:focus {
	border: 1px solid #aaaaaa;

	background: #F5F5F5;
	background: -moz-radial-gradient(center, ellipse cover, #cccccc 0%, #F5F5F5 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cccccc), color-stop(100%,#F5F5F5));
	background: -webkit-radial-gradient(center, ellipse cover, #cccccc 0%,#F5F5F5 100%);
	background: -o-radial-gradient(center, ellipse cover, #cccccc 0%,#F5F5F5 100%);
	background: -ms-radial-gradient(center, ellipse cover, #cccccc 0%,#F5F5F5 100%);
	background: radial-gradient(ellipse at center, #cccccc 0%,#F5F5F5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#F5F5F5',GradientType=1 );
}
.clickable.grey:active {
	border: 1px solid #777777;

	background: #cccccc;
	background: -moz-linear-gradient(top, #cccccc 0%, #F5F5F5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#F5F5F5));
	background: -webkit-linear-gradient(top, #cccccc 0%,#F5F5F5 100%);
	background: -o-linear-gradient(top, #cccccc 0%,#F5F5F5 100%);
	background: -ms-linear-gradient(top, #cccccc 0%,#F5F5F5 100%);
	background: linear-gradient(to bottom, #cccccc 0%,#F5F5F5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#F5F5F5',GradientType=0 );
}

.clickable.black, a.clickable.black {
	color: #FFFFFF !important;

	background: #000000;
	background: -moz-linear-gradient(top, #CCCCCC 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CCCCCC), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top, #CCCCCC 0%,#000000 100%);
	background: -o-linear-gradient(top, #CCCCCC 0%,#000000 100%);
	background: -ms-linear-gradient(top, #CCCCCC 0%,#000000 100%);
	background: linear-gradient(to bottom, #CCCCCC 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCCCCC', endColorstr='#000000',GradientType=0 );
}
.clickable.black:hover, .clickable.black:focus, a.clickable.black:hover, a.clickable.black:focus {
	border: 1px solid #aaaaaa;
	color: #CCCCCC !important;

	background: #000000;
	background: -moz-radial-gradient(center, ellipse cover, #000000 0%, #CCCCCC 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#000000), color-stop(100%,#CCCCCC));
	background: -webkit-radial-gradient(center, ellipse cover, #000000 0%,#CCCCCC 100%);
	background: -o-radial-gradient(center, ellipse cover, #000000 0%,#CCCCCC 100%);
	background: -ms-radial-gradient(center, ellipse cover, #000000 0%,#CCCCCC 100%);
	background: radial-gradient(ellipse at center, #000000 0%,#CCCCCC 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#CCCCCC',GradientType=1 );
}
.clickable.black:active, a.clickable.black:active {
	border: 1px solid #777777;
	color: #000000 !important;

	background: #000000;
	background: -moz-linear-gradient(top, #000000 0%, #CCCCCC 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#CCCCCC));
	background: -webkit-linear-gradient(top, #000000 0%,#CCCCCC 100%);
	background: -o-linear-gradient(top, #000000 0%,#CCCCCC 100%);
	background: -ms-linear-gradient(top, #000000 0%,#CCCCCC 100%);
	background: linear-gradient(to bottom, #000000 0%,#CCCCCC 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#CCCCCC',GradientType=0 );
}

.clickable.white, a.clickable.white {
	border: 1px solid #AAAAAA;
	color: #000000 !important;

	background: #FFFFFF;
	background: -moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#EEEEEE));
	background: -webkit-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%);
	background: -o-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%);
	background: -ms-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%);
	background: linear-gradient(to bottom, #FFFFFF 0%,#EEEEEE 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#EEEEEE',GradientType=0 );
}
.clickable.white:hover, .clickable.white:focus, a.clickable.white:hover, a.clickable.white:focus {
	border: 1px solid #CCCCCC;
	color: #CCCCCC !important;

	background: #FFFFFF;
	background: -moz-radial-gradient(center, ellipse cover, #FFFFFF 0%, #EEEEEE 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#FFFFFF), color-stop(100%,#EEEEEE));
	background: -webkit-radial-gradient(center, ellipse cover, #FFFFFF 0%,#EEEEEE 100%);
	background: -o-radial-gradient(center, ellipse cover, #FFFFFF 0%,#EEEEEE 100%);
	background: -ms-radial-gradient(center, ellipse cover, #FFFFFF 0%,#EEEEEE 100%);
	background: radial-gradient(ellipse at center, #FFFFFF 0%,#EEEEEE 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#EEEEEE',GradientType=1 );
}
.clickable.white:active, a.clickable.white:active {
	border: 1px solid #EEEEEE;
	color: #FFFFFF !important;

	background: #EEEEEE;
	background: -moz-linear-gradient(top, #EEEEEE 0%, #FFFFFF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEEEEE), color-stop(100%,#FFFFFF));
	background: -webkit-linear-gradient(top, #EEEEEE 0%,#FFFFFF 100%);
	background: -o-linear-gradient(top, #EEEEEE 0%,#FFFFFF 100%);
	background: -ms-linear-gradient(top, #EEEEEE 0%,#FFFFFF 100%);
	background: linear-gradient(to bottom, #EEEEEE 0%,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEEEEE', endColorstr='#FFFFFF',GradientType=0 );
}

.clickable.red{
	border: 1px solid #DF7D7D;

	background: #fef1ec;
	background: -moz-linear-gradient(top, #fef1ec 0%, #E05050 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fef1ec), color-stop(100%,#E05050));
	background: -webkit-linear-gradient(top, #fef1ec 0%,#E05050 100%);
	background: -o-linear-gradient(top, #fef1ec 0%,#E05050 100%);
	background: -ms-linear-gradient(top, #fef1ec 0%,#E05050 100%);
	background: linear-gradient(to bottom, #fef1ec 0%,#E05050 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef1ec', endColorstr='#E05050',GradientType=0 );
}
.clickable.red:hover, .clickable.red:focus{
	border: 1px solid #E05050;

	background: #E05050;
	background: -moz-radial-gradient(center, ellipse cover, #E05050 0%, #fef1ec 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#E05050), color-stop(100%,#fef1ec));
	background: -webkit-radial-gradient(center, ellipse cover, #E05050 0%,#fef1ec 100%);
	background: -o-radial-gradient(center, ellipse cover, #E05050 0%,#fef1ec 100%);
	background: -ms-radial-gradient(center, ellipse cover, #E05050 0%,#fef1ec 100%);
	background: radial-gradient(ellipse at center, #E05050 0%,#fef1ec 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E05050', endColorstr='#fef1ec',GradientType=1 );
}
.clickable.red:active{
	border: 1px solid #CD0A0A;

	background: #E05050;
	background: -moz-linear-gradient(top,  #E05050 0%, #fef1ec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E05050), color-stop(100%,#fef1ec));
	background: -webkit-linear-gradient(top,  #E05050 0%,#fef1ec 100%);
	background: -o-linear-gradient(top,  #E05050 0%,#fef1ec 100%);
	background: -ms-linear-gradient(top,  #E05050 0%,#fef1ec 100%);
	background: linear-gradient(to bottom,  #E05050 0%,#fef1ec 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E05050', endColorstr='#fef1ec',GradientType=0 );
}

.clickable.orange{
	border: 1px solid #FFCB8F;

	background: #FFF7E3;
	background: -moz-linear-gradient(top, #FFF7E3 0%, #FFBD6F 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF7E3), color-stop(100%,#FFBD6F));
	background: -webkit-linear-gradient(top, #FFF7E3 0%,#FFBD6F 100%);
	background: -o-linear-gradient(top, #FFF7E3 0%,#FFBD6F 100%);
	background: -ms-linear-gradient(top, #FFF7E3 0%,#FFBD6F 100%);
	background: linear-gradient(to bottom, #FFF7E3 0%,#FFBD6F 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF7E3', endColorstr='#FFBD6F',GradientType=0 );
}
.clickable.orange:hover, .clickable.orange:focus{
	border: 1px solid #FFBD6F;

	background: #FFBD6F;
	background: -moz-radial-gradient(center, ellipse cover, #FFBD6F 0%, #FFF7E3 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#FFBD6F), color-stop(100%,#FFF7E3));
	background: -webkit-radial-gradient(center, ellipse cover, #FFBD6F 0%,#FFF7E3 100%);
	background: -o-radial-gradient(center, ellipse cover, #FFBD6F 0%,#FFF7E3 100%);
	background: -ms-radial-gradient(center, ellipse cover, #FFBD6F 0%,#FFF7E3 100%);
	background: radial-gradient(ellipse at center, #FFBD6F 0%,#FFF7E3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFBD6F', endColorstr='#FFF7E3',GradientType=1 );
}
.clickable.orange:active{
	border: 1px solid #FF8C00;

	background: #FFBD6F;
	background: -moz-linear-gradient(top,  #FFBD6F 0%, #FFF7E3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFBD6F), color-stop(100%,#FFF7E3));
	background: -webkit-linear-gradient(top,  #FFBD6F 0%,#FFF7E3 100%);
	background: -o-linear-gradient(top,  #FFBD6F 0%,#FFF7E3 100%);
	background: -ms-linear-gradient(top,  #FFBD6F 0%,#FFF7E3 100%);
	background: linear-gradient(to bottom,  #FFBD6F 0%,#FFF7E3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFBD6F', endColorstr='#FFF7E3',GradientType=0 );
}

.clickable.yellow{
	border: 1px solid #FFF09F;

	background: #FFFFFF;
	background: -moz-linear-gradient(top, #FFFFFF 0%, #FFEB7F 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#FFEB7F));
	background: -webkit-linear-gradient(top, #FFFFFF 0%,#FFEB7F 100%);
	background: -o-linear-gradient(top, #FFFFFF 0%,#FFEB7F 100%);
	background: -ms-linear-gradient(top, #FFFFFF 0%,#FFEB7F 100%);
	background: linear-gradient(to bottom, #FFFFFF 0%,#FFEB7F 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFEB7F',GradientType=0 );
}
.clickable.yellow:hover, .clickable.yellow:focus{
	border: 1px solid #FFEB7F;

	background: #FFEB7F;
	background: -moz-radial-gradient(center, ellipse cover, #FFEB7F 0%, #FFFFFF 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#FFEB7F), color-stop(100%,#FFFFFF));
	background: -webkit-radial-gradient(center, ellipse cover, #FFEB7F 0%,#FFFFFF 100%);
	background: -o-radial-gradient(center, ellipse cover, #FFEB7F 0%,#FFFFFF 100%);
	background: -ms-radial-gradient(center, ellipse cover, #FFEB7F 0%,#FFFFFF 100%);
	background: radial-gradient(ellipse at center, #FFEB7F 0%,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFEB7F', endColorstr='#FFFFFF',GradientType=1 );
}
.clickable.yellow:active{
	border: 1px solid #FFD100;

	background: #FFEB7F;
	background: -moz-linear-gradient(top,  #FFEB7F 0%, #FFFFFF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFEB7F), color-stop(100%,#FFFFFF));
	background: -webkit-linear-gradient(top,  #FFEB7F 0%,#FFFFFF 100%);
	background: -o-linear-gradient(top,  #FFEB7F 0%,#FFFFFF 100%);
	background: -ms-linear-gradient(top,  #FFEB7F 0%,#FFFFFF 100%);
	background: linear-gradient(to bottom,  #FFEB7F 0%,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFEB7F', endColorstr='#FFFFFF',GradientType=0 );
}

.clickable.green{
	border: 1px solid #78EF77;

	background: #EBFFE4;
	background: -moz-linear-gradient(top, #EBFFE4 0%, #7EDF7D 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EBFFE4), color-stop(100%,#7EDF7D));
	background: -webkit-linear-gradient(top, #EBFFE4 0%,#7EDF7D 100%);
	background: -o-linear-gradient(top, #EBFFE4 0%,#7EDF7D 100%);
	background: -ms-linear-gradient(top, #EBFFE4 0%,#7EDF7D 100%);
	background: linear-gradient(to bottom, #EBFFE4 0%,#7EDF7D 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EBFFE4', endColorstr='#7EDF7D',GradientType=0 );
}
.clickable.green:hover, .clickable.green:focus{
	border: 1px solid #7EDF7D;

	background: #7EDF7D;
	background: -moz-radial-gradient(center, ellipse cover, #7EDF7D 0%, #EBFFE4 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#7EDF7D), color-stop(100%,#EBFFE4));
	background: -webkit-radial-gradient(center, ellipse cover, #7EDF7D 0%,#EBFFE4 100%);
	background: -o-radial-gradient(center, ellipse cover, #7EDF7D 0%,#EBFFE4 100%);
	background: -ms-radial-gradient(center, ellipse cover, #7EDF7D 0%,#EBFFE4 100%);
	background: radial-gradient(ellipse at center, #7EDF7D 0%,#EBFFE4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7EDF7D', endColorstr='#EBFFE4',GradientType=1 );
}
.clickable.green:active{
	border: 1px solid #228B22;

	background: #7EDF7D;
	background: -moz-linear-gradient(top,  #7EDF7D 0%, #EBFFE4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7EDF7D), color-stop(100%,#EBFFE4));
	background: -webkit-linear-gradient(top,  #7EDF7D 0%,#EBFFE4 100%);
	background: -o-linear-gradient(top,  #7EDF7D 0%,#EBFFE4 100%);
	background: -ms-linear-gradient(top,  #7EDF7D 0%,#EBFFE4 100%);
	background: linear-gradient(to bottom,  #7EDF7D 0%,#EBFFE4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7EDF7D', endColorstr='#EBFFE4',GradientType=0 );
}

.clickable.blue{
	border: 1px solid #BFD0FF;

	background: #F0F8FF;
	background: -moz-linear-gradient(top, #F0F8FF 0%, #9FB9FF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0F8FF), color-stop(100%,#9FB9FF));
	background: -webkit-linear-gradient(top, #F0F8FF 0%,#9FB9FF 100%);
	background: -o-linear-gradient(top, #F0F8FF 0%,#9FB9FF 100%);
	background: -ms-linear-gradient(top, #F0F8FF 0%,#9FB9FF 100%);
	background: linear-gradient(to bottom, #F0F8FF 0%,#9FB9FF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F8FF', endColorstr='#9FB9FF',GradientType=0 );
}
.clickable.blue:hover, .clickable.blue:focus{
	border: 1px solid #9FB9FF;

	background: #9FB9FF;
	background: -moz-radial-gradient(center, ellipse cover, #9FB9FF 0%, #F0F8FF 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#9FB9FF), color-stop(100%,#F0F8FF));
	background: -webkit-radial-gradient(center, ellipse cover, #9FB9FF 0%,#F0F8FF 100%);
	background: -o-radial-gradient(center, ellipse cover, #9FB9FF 0%,#F0F8FF 100%);
	background: -ms-radial-gradient(center, ellipse cover, #9FB9FF 0%,#F0F8FF 100%);
	background: radial-gradient(ellipse at center, #9FB9FF 0%,#F0F8FF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9FB9FF', endColorstr='#F0F8FF',GradientType=1 );
}
.clickable.blue:active{
	border: 1px solid #4169E1;

	background: #9FB9FF;
	background: -moz-linear-gradient(top,  #9FB9FF 0%, #F0F8FF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9FB9FF), color-stop(100%,#F0F8FF));
	background: -webkit-linear-gradient(top,  #9FB9FF 0%,#F0F8FF 100%);
	background: -o-linear-gradient(top,  #9FB9FF 0%,#F0F8FF 100%);
	background: -ms-linear-gradient(top,  #9FB9FF 0%,#F0F8FF 100%);
	background: linear-gradient(to bottom,  #9FB9FF 0%,#F0F8FF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9FB9FF', endColorstr='#F0F8FF',GradientType=0 );
}

.clickable.violet{
	border: 1px solid #E3AFFF;

	background: #FEEEFF;
	background: -moz-linear-gradient(top, #FEEEFF 0%, #D27FFF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEEEFF), color-stop(100%,#D27FFF));
	background: -webkit-linear-gradient(top, #FEEEFF 0%,#D27FFF 100%);
	background: -o-linear-gradient(top, #FEEEFF 0%,#D27FFF 100%);
	background: -ms-linear-gradient(top, #FEEEFF 0%,#D27FFF 100%);
	background: linear-gradient(to bottom, #FEEEFF 0%,#D27FFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEEEFF', endColorstr='#D27FFF',GradientType=0 );
}
.clickable.violet:hover, .clickable.violet:focus{
	border: 1px solid #D27FFF;

	background: #D27FFF;
	background: -moz-radial-gradient(center, ellipse cover, #D27FFF 0%, #FEEEFF 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#D27FFF), color-stop(100%,#FEEEFF));
	background: -webkit-radial-gradient(center, ellipse cover, #D27FFF 0%,#FEEEFF 100%);
	background: -o-radial-gradient(center, ellipse cover, #D27FFF 0%,#FEEEFF 100%);
	background: -ms-radial-gradient(center, ellipse cover, #D27FFF 0%,#FEEEFF 100%);
	background: radial-gradient(ellipse at center, #D27FFF 0%,#FEEEFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D27FFF', endColorstr='#FEEEFF',GradientType=1 );
}
.clickable.violet:active{
	border: 1px solid #9932CC;

	background: #D27FFF;
	background: -moz-linear-gradient(top,  #D27FFF 0%, #FEEEFF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D27FFF), color-stop(100%,#FEEEFF));
	background: -webkit-linear-gradient(top,  #D27FFF 0%,#FEEEFF 100%);
	background: -o-linear-gradient(top,  #D27FFF 0%,#FEEEFF 100%);
	background: -ms-linear-gradient(top,  #D27FFF 0%,#FEEEFF 100%);
	background: linear-gradient(to bottom,  #D27FFF 0%,#FEEEFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D27FFF', endColorstr='#FEEEFF',GradientType=0 );
}

.clickable.pink{
	border: 1px solid #FFDFF0;

	background: #FFF8F9;
	background: -moz-linear-gradient(top, #FFF8F9 0%, #FFBFE0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF8F9), color-stop(100%,#FFBFE0));
	background: -webkit-linear-gradient(top, #FFF8F9 0%,#FFBFE0 100%);
	background: -o-linear-gradient(top, #FFF8F9 0%,#FFBFE0 100%);
	background: -ms-linear-gradient(top, #FFF8F9 0%,#FFBFE0 100%);
	background: linear-gradient(to bottom, #FFF8F9 0%,#FFBFE0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF8F9', endColorstr='#FFBFE0',GradientType=0 );
}
.clickable.pink:hover, .clickable.pink:focus{
	border: 1px solid #FFBFE0;

	background: #FFBFE0;
	background: -moz-radial-gradient(center, ellipse cover, #FFBFE0 0%, #FFF8F9 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#FFBFE0), color-stop(100%,#FFF8F9));
	background: -webkit-radial-gradient(center, ellipse cover, #FFBFE0 0%,#FFF8F9 100%);
	background: -o-radial-gradient(center, ellipse cover, #FFBFE0 0%,#FFF8F9 100%);
	background: -ms-radial-gradient(center, ellipse cover, #FFBFE0 0%,#FFF8F9 100%);
	background: radial-gradient(ellipse at center, #FFBFE0 0%,#FFF8F9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFBFE0', endColorstr='#FFF8F9',GradientType=1 );
}
.clickable.pink:active{
	border: 1px solid #FF69B4;

	background: #FFBFE0;
	background: -moz-linear-gradient(top,  #FFBFE0 0%, #FFF8F9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFBFE0), color-stop(100%,#FFF8F9));
	background: -webkit-linear-gradient(top,  #FFBFE0 0%,#FFF8F9 100%);
	background: -o-linear-gradient(top,  #FFBFE0 0%,#FFF8F9 100%);
	background: -ms-linear-gradient(top,  #FFBFE0 0%,#FFF8F9 100%);
	background: linear-gradient(to bottom,  #FFBFE0 0%,#FFF8F9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFBFE0', endColorstr='#FFF8F9',GradientType=0 );
}

.clickable[disabled], .clickable[disabled]:hover, .clickable[disabled]:focus, .clickable[disabled]:active{
	border: 1px solid #D9D9D9;
	color: #6D6D6D;

	background: #EFEFEF;
}
.clickable[disabled] .ui-icon {
	background-image: url('ui/images/ui-icons-grey.png');
}

/* Fil d'arianne */

.breadcrumb {
	padding: 5px 10px;
	margin: 0 0 18px;
	list-style: none;
	background-color: #FBFBFB;
	background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
	background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: linear-gradient(top, #ffffff, #f5f5f5);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
	-moz-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 #ffffff;
}
.breadcrumb li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-shadow: 0 1px 0 #ffffff;
}
.breadcrumb .divider {
	padding: 0 5px;
	color: #999999;
}
.breadcrumb .active {
	font-weight: bold;
}
.breadcrumb .active a {
	color: #333333;
}

/* Carousel */

.carousel-slide-left, .carousel-slide-right {
    width: 30px;
	height: 25px;
    border: none;
}
.carousel-slide-left button, .carousel-slide-right button {
    display: block;
	width: 100%;
	height: 100%;
    cursor: pointer;
}
.carousel-slide-left button[disabled], .carousel-slide-right button[disabled] {
    cursor: default;
}

.carousel-slide-right {
    float: right;
}
.carousel-slide-left {
    float: left;
}

.vertical .carousel-slide-right, .vertical .carousel-slide-left {
	float: none;
}

/* Pagination */

.pagination {
	display: inline-block;
	width: 24px;
	height: 24px;
	/*line-height: 24px;*/
}
.pagination-carousel .active {
	border: 1px solid orange !important;
}
.pagination-carousel .well {
	display: inline-block;
	width: 24px;
	height: 23px;
	padding: 0px;
}
.pagination-carousel .clickable {
	width: 24px;
}

/* Loader */

#ajax_loader {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	padding: 2px 8px;
	-moz-box-shadow: 0px 0px 10px 1px #4C99D8;
	-webkit-box-shadow: 0px 0px 10px 1px #4C99D8;
	-o-box-shadow: 0px 0px 10px 1px #4C99D8;
	box-shadow: 0px 0px 10px 1px #4C99D8;
}

.btn-loader-ajax + img , .btn-loader + img { vertical-align: middle; }

.pagination-conteneur .loader {display: block; margin: auto;}


/* Firefox fix */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
    padding: 0;
}

/*
 *	Override Jquery UI
 *
*/
.btn .ui-icon {
	vertical-align: top;
	display: inline-block;
}

.ui-icon {
	display: inline-block;
	vertical-align: top;
}
.clickable .ui-icon {
	vertical-align: text-top;
}

input.ui-button, .ui-button-text-only .ui-button-text {
    padding: 3px 10px;
	line-height: 16px;
}

.ui-button {
	vertical-align: baseline;
}