@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot");
  src: url("../font/fontello.eot?#iefix") format('embedded-opentype'), url("../font/fontello.woff") format('woff'), url("../font/fontello.ttf") format('truetype'), url("../font/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.8;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-progress-0:before { content: '\30'; } /* '0' */
.icon-progress-1:before { content: '\31'; } /* '1' */
.icon-progress-2:before { content: '\32'; } /* '2' */
.icon-progress-3:before { content: '\33'; } /* '3' */
.icon-progress-4:before { content: '\34'; } /* '4' */
.icon-progress-5:before { content: '\35'; } /* '5' */
.icon-progress-6:before { content: '\36'; } /* '6' */
.icon-progress-7:before { content: '\37'; } /* '7' */
.icon-left:before { content: '\2190'; } /* '←' */
.icon-up:before { content: '\2191'; } /* '↑' */
.icon-right:before { content: '\2192'; } /* '→' */
.icon-down:before { content: '\2193'; } /* '↓' */
.icon-level-up:before { content: '\21b0'; } /* '↰' */
.icon-level-down:before { content: '\21b3'; } /* '↳' */
.icon-switch:before { content: '\21c6'; } /* '⇆' */
.icon-infinity:before { content: '\221e'; } /* '∞' */
.icon-plus-squared:before { content: '\229e'; } /* '⊞' */
.icon-minus-squared:before { content: '\229f'; } /* '⊟' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-keyboard:before { content: '\2328'; } /* '⌨' */
.icon-erase:before { content: '\232b'; } /* '⌫' */
.icon-pause:before { content: '\2389'; } /* '⎉' */
.icon-fast-forward:before { content: '\23e9'; } /* '⏩' */
.icon-fast-backward:before { content: '\23ea'; } /* '⏪' */
.icon-to-end:before { content: '\23ed'; } /* '⏭' */
.icon-to-start:before { content: '\23ee'; } /* '⏮' */
.icon-stop:before { content: '\25a0'; } /* '■' */
.icon-up-dir:before { content: '\25b4'; } /* '▴' */
.icon-play:before { content: '\25b6'; } /* '▶' */
.icon-right-dir:before { content: '\25b8'; } /* '▸' */
.icon-down-dir:before { content: '\25be'; } /* '▾' */
.icon-left-dir:before { content: '\25c2'; } /* '◂' */
.icon-cloud-2:before { content: '\e817'; } /* '' */
.icon-cloud:before { content: '\e824'; } /* '' */
.icon-star:before { content: '\e83c'; } /* '' */
.icon-star-empty:before { content: '\e81d'; } /* '' */
.icon-trash-open:before { content: '\2615'; } /* '☕' */
.icon-heart-empty:before { content: '\2661'; } /* '♡' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-note:before { content: '\266a'; } /* '♪' */
.icon-double-note:before { content: '\e805'; } /* '' */
.icon-flag-2:before { content: '\2691'; } /* '⚑' */
.icon-flag:before { content: '\e828'; } /* '' */
.icon-cog:before { content: '\e81f'; } /* '' */
.icon-attention:before { content: '\26a0'; } /* '⚠' */
.icon-record:before { content: '\26ab'; } /* '⚫' */
.icon-key:before { content: '\26bf'; } /* '⚿' */
.icon-cog-alt:before { content: '\26ef'; } /* '⛯' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-edit:before { content: '\270d'; } /* '✍' */
.icon-pencil:before { content: '\e808'; } /* '' */
.icon-pencil-2:before { content: '\270e'; } /* '✎' */
.icon-pencil-neg:before { content: '\270f'; } /* '✏' */
.icon-ok:before { content: '\2713'; } /* '✓' */
.icon-ok-circle:before { content: '\2714'; } /* '✔' */
.icon-cancel:before { content: '\d7'; } /* '×' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-cancel-circle:before { content: '\78'; } /* 'x' */
.icon-cancel-squared:before { content: '\274e'; } /* '❎' */
.icon-attention-circle:before { content: '\2757'; } /* '❗' */
.icon-plus-circled:before { content: '\2795'; } /* '➕' */
.icon-minus-circled:before { content: '\2796'; } /* '➖' */
.icon-ccw-2:before { content: '\e814'; } /* '' */
.icon-cw-2:before { content: '\e815'; } /* '' */
.icon-reload:before { content: '\27f3'; } /* '⟳' */
.icon-user-add:before { content: '\e700'; } /* '' */
.icon-star-half:before { content: '\e701'; } /* '' */
.icon-ok-circle-2:before { content: '\e702'; } /* '' */
.icon-cancel-circle-2:before { content: '\2715'; } /* '✕' */
.icon-help-circle:before { content: '\3f'; } /* '?' */
.icon-info-circle:before { content: '\69'; } /* 'i' */
.icon-eye-2:before { content: '\e80a'; } /* '' */
.icon-eye:before { content: '\e822'; } /* '' */
.icon-eye-off:before { content: '\e70b'; } /* '' */
.icon-tag-2:before { content: '\e80b'; } /* '' */
.icon-tag:before { content: '\e70c'; } /* '' */
.icon-tags:before { content: '\e70d'; } /* '' */
.icon-download-cloud:before { content: '\e710'; } /* '' */
.icon-upload-cloud-2:before { content: '\e80e'; } /* '' */
.icon-upload-cloud:before { content: '\e823'; } /* '' */
.icon-code:before { content: '\e80f'; } /* '' */
.icon-export:before { content: '\e715'; } /* '' */
.icon-comment:before { content: '\e718'; } /* '' */
.icon-chat-3:before { content: '\e811'; } /* '' */
.icon-chat:before { content: '\e821'; } /* '' */
.icon-chat-2:before { content: '\e81e'; } /* '' */
.icon-chat-2-inv:before { content: '\e721'; } /* '' */
.icon-vcard:before { content: '\e722'; } /* '' */
.icon-gmap:before { content: '\e724'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-location-inv:before { content: '\e725'; } /* '' */
.icon-trash-close:before { content: '\e729'; } /* '' */
.icon-trash:before { content: '\e801'; } /* '' */
.icon-doc-alt:before { content: '\e732'; } /* '' */
.icon-doc-inv-alt:before { content: '\e733'; } /* '' */
.icon-rss:before { content: '\e73a'; } /* '' */
.icon-rss-alt:before { content: '\e73b'; } /* '' */
.icon-cart:before { content: '\e73d'; } /* '' */
.icon-popup:before { content: '\e74c'; } /* '' */
.icon-popup-2:before { content: '\e800'; } /* '' */
.icon-chart-pie:before { content: '\e751'; } /* '' */
.icon-down-circled:before { content: '\e812'; } /* '' */
.icon-left-circled:before { content: '\e759'; } /* '' */
.icon-right-circled:before { content: '\e75a'; } /* '' */
.icon-up-circled:before { content: '\e813'; } /* '' */
.icon-down-open:before { content: '\e75c'; } /* '' */
.icon-left-open:before { content: '\3c'; } /* '&lt;' */
.icon-right-open:before { content: '\3e'; } /* '&gt;' */
.icon-up-open:before { content: '\5e'; } /* '^' */
.icon-back-in-time:before { content: '\e771'; } /* '' */
.icon-off:before { content: '\e78e'; } /* '' */
.icon-brush:before { content: '\e79a'; } /* '' */
.icon-gauge:before { content: '\e81a'; } /* '' */
.icon-chart-pie-3:before { content: '\e7a2'; } /* '' */
.icon-chart-pie-2:before { content: '\e82a'; } /* '' */
.icon-chart-pie-3-alt:before { content: '\e7a3'; } /* '' */
.icon-tablet:before { content: '\e7b1'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-opera:before { content: '\e842'; } /* '' */
.icon-ie:before { content: '\e843'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-facebook:before { content: '\e82b'; } /* '' */
.icon-twitter:before { content: '\e82c'; } /* '' */
.icon-googleplus:before { content: '\e82d'; } /* '' */
.icon-skype:before { content: '\e82e'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */
.icon-picture-2:before { content: '🌄'; } /* '\1f304' */
.icon-picture:before { content: '\e83e'; } /* '' */
.icon-globe:before { content: '\e816'; } /* '' */
.icon-globe-network:before { content: '🌐'; } /* '\1f310' */
.icon-leaf:before { content: '🍂'; } /* '\1f342' */
.icon-mic:before { content: '🎤'; } /* '\1f3a4' */
.icon-palette:before { content: '🎨'; } /* '\1f3a8' */
.icon-trophy:before { content: '🏉'; } /* '\1f3c9' */
.icon-thumbs-up:before { content: '\e80c'; } /* '' */
.icon-thumbs-down:before { content: '\e80d'; } /* '' */
.icon-user:before { content: '\e825'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-credit-card:before { content: '💳'; } /* '\1f4b3' */
.icon-monitor:before { content: '💻'; } /* '\1f4bb' */
.icon-floppy:before { content: '💾'; } /* '\1f4be' */
.icon-folder:before { content: '📁'; } /* '\1f4c1' */
.icon-folder-open:before { content: '📂'; } /* '\1f4c2' */
.icon-calendar:before { content: '📅'; } /* '\1f4c5' */
.icon-chart-line:before { content: '📈'; } /* '\1f4c8' */
.icon-chart:before { content: '\e829'; } /* '' */
.icon-chart-bar:before { content: '\e818'; } /* '' */
.icon-chart-bar-2:before { content: '📊'; } /* '\1f4ca' */
.icon-attach:before { content: '📎'; } /* '\1f4ce' */
.icon-upload:before { content: '📤'; } /* '\1f4e4' */
.icon-download:before { content: '📥'; } /* '\1f4e5' */
.icon-mobile:before { content: '\e803'; } /* '' */
.icon-signal:before { content: '📶'; } /* '\1f4f6' */
.icon-camera:before { content: '📷'; } /* '\1f4f7' */
.icon-shuffle:before { content: '🔀'; } /* '\1f500' */
.icon-loop:before { content: '🔁'; } /* '\1f501' */
.icon-arrows-ccw:before { content: '🔄'; } /* '\1f504' */
.icon-key-inv:before { content: '🔑'; } /* '\1f511' */
.icon-lock:before { content: '\e826'; } /* '' */
.icon-unlock:before { content: '\e827'; } /* '' */
.icon-link:before { content: '\e809'; } /* '' */
.icon-wrench-2:before { content: '\e820'; } /* '' */
.icon-wrench:before { content: '🔧'; } /* '\1f527' */
.icon-chart-area:before { content: '🔾'; } /* '\1f53e' */
.icon-clock:before { content: '🕔'; } /* '\1f554' */
.icon-block:before { content: '🚫'; } /* '\1f6ab' */